<div class="creator_info_wrapper">
    <div class="title">
        <div class="<%= Const::Run::AttributeName::CONTENTS_TITLE_CLASSNAME %>"></div>
    </div>
    <div class="creator">
        <div class="<%= Const::Run::AttributeName::CONTENTS_CREATOR_CLASSNAME %>"></div>
    </div>
    <div class="caption">
        <div class="<%= Const::Run::AttributeName::CONTENTS_CAPTION_CLASSNAME %>"></div>
    </div>
</div>