<div id="main" class="fullscreen">
    <div id="screen_wrapper">
        <div id="project_wrapper" class="fullscreen">
            <%= render 'run/contents' %>
        </div>
    </div>
</div>
<%= render 'run/run_contents_temp' %>