<div id="main">
    <div id="screen_wrapper">
        <div id="project_wrapper" class="stage_container">
            <%= render 'run/contents' %>
        </div>
        <%= render 'base/floatview' %>
    </div>
</div>

<%= render 'run/run_contents_temp' %>
