<div id="main">
    <div id="<%= Const::Paging::ROOT_ID %>" class="stage_container">
      <%= render 'run/guide/guide' %>
    </div>
</div>

<div id="<%= Const::ElementAttribute::MAIN_TEMP_ID %>">
    <div class="main-wrapper">
        <div class="scroll_wrapper">
            <div class="scroll_handle_wrapper">
                <div class="scroll_handle"></div>
            </div>
            <div class="scroll_contents">
                <div class="scroll_inside">
                    <div class="scroll_inside_cover"></div>
                </div>
            </div>
        </div>
        <div class="canvas_wrapper">
            <canvas class="canvas_container canvas"></canvas>
        </div>
    </div>
</div>