<div id="main">
    <div id="project_wrapper">
        <div id="<%= Const::Paging::ROOT_ID %>" class="stage_container">
          <%= render 'run/guide/guide' %>
        </div>
    </div>
</div>

<%= render 'base/run_contents_temp' %>