<div id="main">
    <div id="main-wrapper" class="stage_container">
        <div id="scroll_wrapper">
            <div id="scroll_handle_wrapper">
                <div id="scroll_handle"></div>
            </div>
            <div id="scroll_contents">
                <div id="scroll_inside">
                    <div id="scroll_inside_cover"></div>
                </div>
            </div>
        </div>
        <div id="canvas_wrapper">
            <canvas id="canvas_container" class="canvas"></canvas>
        </div>
    </div>
</div>