<div id="main">
    <div id="screen_wrapper">
        <div id="project_wrapper" class="stage_container">
            <div id="<%= Const::Paging::ROOT_ID %>">
              <%= render 'run/guide/guide' %>
            </div>
        </div>
        <%= render 'base/floatview' %>
    </div>
</div>

<%= render 'run/run_contents_temp' %>
