<div class="operation_wrapper">
  <div class="clearfix">
    <div class="rewind_all_capter_wrapper">
      <div class="rewind_all_capter">
      </div>
    </div>
    <div class="rewind_capter_wrapper">
      <div class="rewind_capter">
      </div>
    </div>
  </div>
</div>