<div id="<%= Const::StateConfig::ROOT_ID_NAME %>">
  <div class="config">
    <div class="configBox background" style="display: none;">
      <div class="settingedit-headliner"><%= I18n.t('config.state.background') %></div>
      <div class="forms" style="display:table">
        <div style="display: table-cell">
          <!-- Background -->
          <div class="background colorPicker rgb"></div>
        </div>
      </div>
    </div>
    <div class="configBox screen_event" style="display: none;">
      <div class="settingedit-headliner"><%= I18n.t('config.state.screen_state') %></div>
      <div class="forms" style="display:table">
        <div style="display: table-cell">
          <!-- ScreenEvent -->
          <div style="display: inline-block">Select:</div>
          <div style="display: inline-block">
            <a class="event_pointing">
              <%= image_tag 'sidebar/event_pointing_drag32.png', size: '24x24' %>
            </a>
          </div>
          <div>
            <div style="float: left">X:</div>
            <div style="float: left"><input type="number" class="initX" disabled></div>
            <br style="clear: both">
          </div>
          <div>
            <div style="float: left">Y:</div>
            <div style="float: left"><input type="number" class="initY" disabled></div>
            <br style="clear: both">
          </div>
          <div>
            <div style="float: left">Scale:</div>
            <div style="float: left"><input type="number" class="initScale" disabled></div>
            <br style="clear: both">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>