<div class="config">
    <div class="configBox">
        <div class="cssedit-headliner"><%= value['name'] %></div>
        <div class="forms">
            <div>
                <label><input type="checkbox" class="<%= var_name + '_checkbox' %>" />On</label>
            </div>
        </div>
    </div>
</div>