<div class="config">
  <div class="configBox">
      <div class="cssedit-headliner">Name</div>
      <div class="forms">
        <!-- アイテム名 -->
          <div>
              <input type="text" class="item-name form-control input-sm" />
          </div>
      </div>
  </div>

  <div class="configBox">
    <div class="cssedit-headliner">State</div>
    <div class="forms">
      <!-- アイテム初期表示 -->
      <label><input class="visible_at_launch" name="visible_at_launch" type="checkbox">Visible at launch</label>
    </div>
    <div class="forms">
      <!-- 初期フォーカス -->
      <label><input class="focus_at_launch" name="focus_at_launch" type="checkbox">Focus at launch</label>
    </div>
  </div>

  <div class="configBox">
    <div class="cssedit-headliner">Position</div>
    <div class="forms">
      <!-- アイテム座標 -->
      <div>
        X: <input type="number" class="item_position_x" value="">
      </div>
      <div>
        Y: <input type="number" class="item_position_y" value="">
      </div>
    </div>
  </div>

  <div class="configBox">
    <div class="cssedit-headliner">Size</div>
    <div class="forms">
      <!-- アイテムサイズ -->
      <div>
        Width: <input type="number" class="item_width" value="">
      </div>
      <div>
        Height: <input type="number" class="item_height" value="">
      </div>
    </div>
  </div>
</div>

