<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner"><%= value['name'] %></div>
    <div class="forms">
      <div>
        <select class="<%= var_name + '_select' %>">
        </select>
      </div>
    </div>
  </div>
</div>
