<div class="config">
    <div class="configBox">
        <div class="event-config-headliner"><%= value['name'] %></div>
        <div class="forms">
          <div>
            <label><input type="checkbox" class="<%= var_name + '_checkbox' %>" />On/Off</label>
          </div>
        </div>
    </div>
</div>