<div class="event-config-headliner"><%= I18n.t('config.event.kick.click_duration') %></div>
<div class="forms">
  <div class="centering_wrapper">
    <!-- クリック時間 -->
    <div>
      <input class="click_duration" type="number" value="" step="0.1"> s
    </div>
  </div>
</div>
<div class="fork_handler_wrapper" style="display: none;">
    <div class="event-config-headliner"><%= I18n.t('config.event.kick.fork') %></div>
    <div class="forms">
        <div class="centering_wrapper">
            <!-- Fork分岐 -->
            <label style="float: left"><input class="enable_fork" name="enable_fork" type="checkbox">On</label>
            <div style="float:left">
                <select class="form-control fork_select" name="fork_select">
                </select>
            </div>
            <br style="clear: both">
        </div>
    </div>
</div>