<div class="event-config-headliner"><%= I18n.t('config.event.kick.scroll_point') %></div>
<div class="forms">
    <!-- スクロールポイント -->
  <div class="scroll_point_start_wrapper">
    Start:<input class="scroll_point_start" type="number" value="0">
  </div>
  <div class="scroll_point_end_wrapper">
    End: <input class="scroll_point_end" type="number" value="30">
  </div>
</div>
<div class="event-config-headliner"><%= I18n.t('config.event.kick.scroll_direction') %></div>
<div class="forms">
    <!-- スクロール可能方向 -->
    <div class="scroll_enabled_wrapper centering_wrapper scroll_enabled_top">
        <label style="float: left"><input class="scroll_enabled" type="checkbox" checked>Top</label>
        <label style="float: left"><input class="scroll_forward" type="checkbox">Forward</label>
        <br style="clear: both">
    </div>
    <div class="scroll_enabled_wrapper centering_wrapper scroll_enabled_bottom">
        <label style="float: left"><input class="scroll_enabled" type="checkbox" checked>Bottom</label>
        <label style="float: left"><input class="scroll_forward" type="checkbox" checked>Forward</label>
        <br style="clear: both">
    </div>
    <div class="scroll_enabled_wrapper centering_wrapper scroll_enabled_left">
        <label style="float: left"><input class="scroll_enabled" type="checkbox">Left</label>
        <label style="float: left;display: none"><input class="scroll_forward" type="checkbox">Forward</label>
        <br style="clear: both">
    </div>
    <div class="scroll_enabled_wrapper centering_wrapper scroll_enabled_right">
        <label style="float: left"><input class="scroll_enabled" type="checkbox">Right</label>
        <label style="float: left;display: none"><input class="scroll_forward" type="checkbox">Forward</label>
        <br style="clear: both">
    </div>
</div>