<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">Position</div>
    <div class="forms">
      <!-- アイテム座標変化 -->
      <div>
        X: ±<input type="number" class="item_position_diff_x" value="0">
      </div>
      <div>
        Y: ±<input type="number" class="item_position_diff_y" value="0">
      </div>
    </div>
  </div>
  <div class="configBox">
    <div class="cssedit-headliner">Size</div>
    <div class="forms">
      <!-- アイテムサイズ -->
      <div>
        Width: ±<input type="number" class="item_diff_width" value="0">
      </div>
      <div>
        Height: ±<input type="number" class="item_diff_height" value="0">
      </div>
    </div>
  </div>
</div>
