<% type = 'normal' if type.nil? %>
<div class='radio'>
  <% if type != 'none' %>
      <label><input type='radio' name=''><span></span></label>
      <input class='method_name' type='hidden' value=''>
      <input class='value_class_name' type='hidden' value=''>
  <% else %>
      <label><input type='radio' name='' checked><span class='none'>none</span></label>
<% end %>
</div>