<!-- これは画面移動用のテンプレート -->
<div class="_screenposition_change">
  <div>
    <div>
      <div style="float: left">X:±</div>
      <div style="float: left"><input type="number" class="screenposition_change_x" disabled></div>
      <br style="clear: both">
    </div>
    <div>
      <div style="float: left">Y:±</div>
      <div style="float: left"><input type="number" class="screenposition_change_y" disabled></div>
      <br style="clear: both">
    </div>
    <div>
      <div style="float: left">Zoom:±</div>
      <div style="float: left"><input type="number" class="screenposition_change_z" disabled></div>
      <br style="clear: both">
    </div>
  </div>

  <div>
    <div>
        <div style="float: left">X:±</div>
        <div style="float: left"><input type="number" class="screenposition_change_x"></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Y:±</div>
        <div style="float: left"><input type="number" class="screenposition_change_y"></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Zoom:±</div>
        <div style="float: left"><input type="number" class="screenposition_change_z"></div>
        <br style="clear: both">
    </div>
  </div>
</div>
