<div class="config">
  <div class="configBox">
    <div class="event-config-headliner"><%= value['name'] %></div>
    <div class="forms">
      <div class="meter">
        <input type="text" class="slider-value" value="0" readonly="">

        <div class="<%= var_name + '_meter' %> slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
        </div>
      </div>
    </div>
  </div>
</div>
