<div class="config">
    <div class="configBox">
        <div class="event-config-headliner"><%= value['name'] %></div>
        <div class="forms">
            <div>
                <input type="text" class="<%= var_name + '_text' %> item-name form-control input-sm" />
            </div>
        </div>
    </div>
</div>