<div class="canvasdesign_temp" style="display: none">
  <style type="text/css" class="css_style"></style>
  <style type="text/css" class="css_anim_style"></style>
  <pre class="css_code">
  div#<span class="design_item_obj_id"></span> {
      }
  </pre>
  <div class="css_cache">
    <div class="design_bg_color2_moz_cache">
    </div>
    <div class="design_bg_color3_moz_cache">
    </div>
    <div class="design_bg_color4_moz_cache">
    </div>
    <div class="design_bg_color2_webkit_cache">
    </div>
    <div class="design_bg_color3_webkit_cache">
    </div>
    <div class="design_bg_color4_webkit_cache">
    </div>
  </div>
</div>