<div id="cssCode" style="display: none">
    <!-- CSS情報 -->

    <!-- アイテムのCSS -->
    <div id="css_code_info"></div>

    <!-- CSSのテンプレート -->
    <div id="css_code_info_temp"></div>

    <!-- 閲覧モードのStype -->
    <style type="text/css" id="sup_css" scoped=""></style>
</div>