<div class="cssdesign_temp" style="display: none">
  <style type="text/css" class="css_style"></style>
  <style type="text/css" class="css_anim_style"></style>
  <pre class="css_code">
  div#<span class="design_item_id"></span> .css3button {
      <span class="property">font-family</span>: Arial, Helvetica, sans-serif;
      <span class="property">font-size</span>: <span class="design_slider_font_size_value"></span>px;
      <span class="property">color</span>: #<span class="design_font_color"></span>;
      <span class="property">padding</span>: <span class="design_slider_padding_top_value"></span>px <span class="design_slider_padding_left_value"></span>px;
      <span class="property">background</span>: <span class="property">-moz-linear-gradient</span>(
      <span class="design_slider_gradient_deg_value"></span>deg,
      #<span class="design_bg_color1"></span> 0%,
      <span class="design_bg_color2_moz_flag">
      #<span class="design_bg_color2"></span> <span class="design_bg_color2_position"></span>%,</span>
      <span class="design_bg_color3_moz_flag">#<span class="design_bg_color3"></span> <span class="design_bg_color3_position"></span>%,</span>
      <span class="design_bg_color4_moz_flag">#<span class="design_bg_color4"></span> <span class="design_bg_color4_position"></span>%,</span>
      #<span class="design_bg_color5"></span> 100%);
      <span class="property">background</span>: <span class="property">-webkit-gradient</span>(
      linear, <span class="design_slider_gradient_deg_value_webkit"></span>,
      from(#<span class="design_bg_color1"></span>),
      <span class="design_bg_color2_webkit_flag">
      <span>
      color-stop(<span class="p">0.<span class="design_bg_color2_position"></span></span>,
      #<span class="design_bg_color2"></span>),
      </span>
      </span>
      <span class="design_bg_color3_webkit_flag">
      <span>
      color-stop(<span class="p">0.<span class="design_bg_color3_position"></span></span>,
      #<span class="design_bg_color3"></span>),
      </span>
      </span>
      <span class="design_bg_color4_webkit_flag">
      <span>
      color-stop(<span class="p">0.<span class="design_bg_color4_position"></span></span>,
      #<span class="design_bg_color4"></span>),
      </span>
      </span>
      to(#<span class="design_bg_color5"></span>));
      <span class="property">-moz-border-radius</span>: <span class="design_slider_border_radius_value"></span>px;
      <span class="property">-webkit-border-radius</span>: <span class="design_slider_border_radius_value"></span>px;
      <span class="property">border-radius</span>: <span class="design_slider_border_radius_value"></span>px;
      <span class="property">border</span>: <span class="design_slider_border_width_value"></span>px solid #<span class="design_border_color">ffffff</span>;
      <span class="property">-moz-box-shadow</span>:
      <span class="design_slider_shadow_left_value">0</span>px <span class="design_slider_shadow_top_value"></span>px <span class="design_slider_shadow_size_value"></span>px rgba(<span class="design_shadow_color"></span>,<span class="design_slider_shadow_opacity_value"></span>),
      inset <span class="design_slider_shadowinset_left_value">0</span>px <span class="design_slider_shadowinset_top_value"></span>px <span class="design_slider_shadowinset_size_value"></span>px rgba(<span class="design_shadowinset_color"></span>,<span class="design_slider_shadowinset_opacity_value"></span>);
      <span class="property">-webkit-box-shadow</span>:
      <span class="design_slider_shadow_left_value">0</span>px <span class="design_slider_shadow_top_value"></span>px <span class="design_slider_shadow_size_value"></span>px rgba(<span class="design_shadow_color"></span>,<span class="design_slider_shadow_opacity_value"></span>),
      inset <span class="design_slider_shadowinset_left_value">0</span>px <span class="design_slider_shadowinset_top_value"></span>px <span class="design_slider_shadowinset_size_value"></span>px rgba(<span class="design_shadowinset_color"></span>,<span class="design_slider_shadowinset_opacity_value"></span>);
      <span class="property">box-shadow</span>:
      <span class="design_slider_shadow_left_value">0</span>px <span class="design_slider_shadow_top_value"></span>px <span class="design_slider_shadow_size_value"></span>px rgba(<span class="design_shadow_color"></span>,<span class="design_slider_shadow_opacity_value"></span>),
      inset <span class="design_slider_shadowinset_left_value">0</span>px <span class="design_slider_shadowinset_top_value"></span>px <span class="design_slider_shadowinset_size_value"></span>px rgba(<span class="design_shadowinset_color"></span>,<span class="design_slider_shadowinset_opacity_value"></span>);
      <span class="property">text-shadow</span>:
      <span class="design_slider_text_shadow1_left_value"></span>px <span class="design_slider_text_shadow1_top_value"></span>px <span class="design_slider_text_shadow1_size_value"></span>px rgba(<span class="design_text_shadow1_color"></span>,<span class="design_slider_text_shadow1_opacity_value"></span>),
      <span class="design_slider_text_shadow2_left_value"></span>px <span class="design_slider_text_shadow2_top_value"></span>px <span class="design_slider_text_shadow2_size_value"></span>px rgba(<span class="design_text_shadow2_color"></span>,<span class="design_slider_text_shadow2_opacity_value"></span>);
      display: table;
      z-index:100;
      width: 100%;
      height: 100%;
      }
  </pre>
  <div class="css_cache">
    <div class="design_bg_color2_moz_cache"></div>
    <div class="design_bg_color3_moz_cache"></div>
    <div class="design_bg_color4_moz_cache"></div>
    <div class="design_bg_color2_webkit_cache"></div>
    <div class="design_bg_color3_webkit_cache"></div>
    <div class="design_bg_color4_webkit_cache"></div>
  </div>
</div>