<%
  new_tab_link = false if new_tab_link.nil?
%>

<div id="deleted_page">
  <div class="deleted_wrapper put_center">
    <div class="icon_wrapper">
      <%= image_tag 'base/deleted_page.png', size: '128x128' %>
    </div>
    <div class="message_wrapper">
      <div class="message">
        This contents was deleted.
      </div>
    </div>
    <div class="link">
      <% if new_tab_link %>
        <%= link_to '/', target: '_grid' do %>
            <div class="button-panel other">
              <input type="button" class="button" value="Show contents list" />
            </div>
        <% end %>
      <% else %>
          <%= link_to '/' do %>
              <div class="button-panel other">
                <input type="button" class="button" value="Show contents list" />
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>