<div style="display: inline-block">
  <a href="http://twitter.com/watanabe_susumu">Twitter</a>
</div>
<div style="display: inline-block">
  <a href="http://www.facebook.com/sue.wgoahead">Facebook</a>
</div>