<!-- ページ値 -->
<div id="page_values">
    <!-- 初期値がある場合はここに書く -->
</div>

<%= form_tag("/run", method: "post", name: "timeline_run_form") do %>
    <div id="timeline_page_values">
        <% if @timeline_page_values != nil %>
            <%= @timeline_page_values.html_safe %>
        <% end %>
    </div>
<% end %>
