<!-- これは背景変更用のテンプレート -->
<div class="_background">
    <div class="colorPicker">
    </div><br/>

    <div class="background_change_container">
        <div class="background_change_arrow" style="float: left">→</div>
        <div class="colorPicker" style="float: left">
        </div>
        <br style="clear: both" />
    </div>

    <div class="background_color_temp" style="display: none;">
        <div class="background-change-arrow" style="float: left">→</div>
        <div class="colorPicker temp" style="float: left">
        </div>
        <br style="clear: both;"/>
    </div>
</div>
