<div class="timelineedit-headliner">ClickParallel</div>
<div class="forms">
    <!-- クリック同時実行 -->
    <input class="click_parallel" name="click_parallel" type="checkbox"><label for="click_parallel">Click Parallel</label>
</div>
