<div id="main">
    <div id="screen_wrapper">
        <div id="project_wrapper" class="border" style="display: none">
            <%= render 'run/contents' %>
        </div>
        <%= render 'base/floatview' %>
    </div>
</div>

<div id="<%= Const::ElementAttribute::MAIN_TEMP_ID %>">
  <%= render 'run/run_contents_temp' %>
</div>
