<div class="event">
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">Item</div>
            <div class="forms item_form">

            </div>
        </div>
    </div>
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">ActionType</div>
            <div class="forms action_type_form">
            </div>
        </div>
    </div>
    <div class="common-config" style="display: none">
        <%= render 'worktable/sidebar_menu/timeline/common' %>
    </div>
    <div class="custom-config" style="display: none">
        <%= render 'worktable/sidebar_menu/timeline/custom' %>
    </div>
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">Apply Action</div>
            <div class="forms">
                <button class="btn btn-success btn-block">Apply and Proceed next</button>
                <button class="btn btn-success btn-block" style="margin-top: 15px">Apply and Close</button>
                <button class="btn btn-danger btn-block" style="margin-top: 15px">Reset</button>
                <button class="btn btn-danger btn-block" style="margin-top: 15px">Cancel and Close (Don't apply)</button>
            </div>
        </div>
    </div>
</div>