<div id="timeline-config" class="sidebar-config" style="display: none">

    <!-- イベント作成毎にテンプレートからDivを作成しここに追加 -->

    <!-- 作成するDivのテンプレート -->
    <div class="timeline_temp">
        <%= render 'worktable/sidebar_menu/timeline/temp' %>
    </div>
</div>