<div>
    <div class="user_icon">
        <div>
            <%= image_tag 'gallery/sidebar/default_user.png' ,size:'100x100' %>
        </div>
    </div>
    <% if @is_accessed_myself_page %>
      <div class="edit">
        <%= link_to I18n.t('account.edit'), edit_user_registration_path %>
      </div>
      <div class="logout">
        <%= link_to I18n.t('account.logout'),  destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <!-- ソーシャルボタン等追加予定 -->
</div>