<% @contents.each do |content| %>
    <div class="row">
        <div class="top">
            <div class="left">
                <div class="top">
                    <div class="left">
                        <div class="title">
                            <%= content[Const::ItemGallery::Key::TITLE] %>
                        </div>
                        <div class="user">
                            <%= content[Const::User::Key::NAME] %>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="tags">
                        <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                            <div class="tag_name"><%= t %></div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="remove_button">

                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="caption">
                <%= content[Const::ItemGallery::Key::CAPTION] %>
            </div>
        </div>
    </div>
<% end %>