<div id="design-config" class="sidebar-config" style="display: none">

    <!-- アイテム作成毎にテンプレートからDivを作成しここに追加 -->

    <!-- 作成するDivのテンプレート -->
    <div class="design_temp <%= Const::DesignConfig::ROOT_CLASSNAME %>">
        <%= render 'worktable/sidebar_menu/design/temp' %>
    </div>

</div>