<div class="config">

    <div id="btn-configBorder" class="configBox">
        <div class="cssedit-headliner">Name</div>
        <div class="forms">
            <div>
                <input type="text" class="item-name form-control input-sm" />
            </div>
        </div>
    </div>
    <!-- /#configBorder -->
</div>

<%= render 'worktable/sidebar_menu/design/css' %>
<%= render 'worktable/sidebar_menu/design/canvas' %>