<div class="_design">
    <% type = :css if type.nil? %>
    <% if type == :css %>
        <div class="css-design-config">
            <%= render 'worktable/sidebar_menu/design/css_param' %>
        </div>
    <% end %>

    <% if type == :canvas %>
        <div class="canvas-design-config">
            <%= render 'worktable/sidebar_menu/design/canvas_param' %>
        </div>
    <% end %>
</div>