<div class="event-config-headliner">ScrollPoint</div>
<div class="forms">
    <!-- スクロールポイント -->
    <input class="scroll_point_start" type="number" value="" style="float: left" >
    <div style="float: left"> - </div>
    <input class="scroll_point_end" type="number" value="" style="float: left" >
    <br style="clear: both">
</div>