<div class="fork_handler_wrapper" style="display: none;">
    <div class="event-config-headliner">Fork</div>
    <div class="forms">
        <div class="centering_wrapper">
            <!-- Fork分岐 -->
            <label style="float: left"><input class="enable_fork" name="enable_fork" type="checkbox">Fork</label>
            <div style="float:left">
                <select class="form-control fork_select" name="fork_select">

                </select>
            </div>
            <br style="clear: both">
        </div>
    </div>
</div>