<!--<div class="timelineedit-headliner">ClickParallel</div>-->
<!--<div class="forms">-->
    <!--&lt;!&ndash; クリック同時実行 &ndash;&gt;-->
    <!--<input class="click_parallel" name="click_parallel" type="checkbox"><label for="click_parallel">Click Parallel</label>-->
<!--</div>-->
