<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">Position</div>
    <div class="forms">
      <!-- アイテム座標 -->
      <div>
        X: <input type="number" class="item_position_x" value="">
      </div>
      <div>
        Y: <input type="number" class="item_position_y" value="">
      </div>
    </div>
  </div>
  <div class="configBox">
    <div class="cssedit-headliner">Size</div>
    <div class="forms">
      <!-- アイテムサイズ -->
      <div>
        Width: <input type="number" class="item_width" value="">
      </div>
      <div>
        Height: <input type="number" class="item_height" value="">
      </div>
    </div>
  </div>
</div>
