<div class="_sidebar">
    <div class="meter">
        <label><%= param.name %></label>
        <input type="text" class="slider-value" value="0" readonly="">

        <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
        </div>
    </div>
</div>