@charset "utf-8";

$sidebar_expand_width : 300px;
$sidebar_collapse_width : 50px;

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote {
  margin: 0;
  padding: 0;
  display: block;
}

html, body {
  height: 100%;
  background-color: #F9F6EA;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

div#main_gallery_wrapper {
  width: 100%;
  height: 100%;

  &:after {
    display: table;
    content: '';
    clear: both;
    line-height: 0;
  }
}

div#sidebar_wrapper {
  display: block;
  height: 100%;
  background-color: green;
  position: relative;
  float: left;

  .user_wrapper {

  }
  .logo_wrapper {

  }
  .doc {
    display: none;
  }

  &.expand {
    width: $sidebar_expand_width;
    margin-left: -$sidebar_expand_width;
  }
  &.collapse {
    width: $sidebar_collapse_width;
    margin-left: -$sidebar_collapse_width;
  }
}

div#gallery_contents_wrapper {
  //position: relative;
  width: 100%;
  height: 100%;
  float: left;
  //margin-right: $sidebar_collapse_width
}

div#grid_centering_wrapper {
  height: 100%;
  margin-left: 0;
  margin-right: $sidebar_collapse_width;
}

div#grid_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  .grid_contents_wrapper {
    //box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    width: 380px;
    height: 250px;

    .grid_img_wrapper {
      position: relative;
      width: 100%;
      height: 200px;
      background-color: blue;
      border-radius: 20px;

      .loading_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 16px;
        height: 16px;

        .loading {
          background-size: auto;
          -moz-background-size: auto;
          background-image: image-url("gallery/loading.gif");
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
        }
      }

      .grid_img_contents {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      width: 100%;
      height: 50px;

      background-color: yellow;
    }
  }
}


