@charset "utf-8";

$sidebar_expand_width : 300px;
$sidebar_collapse_width : 70px;

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote {
  margin: 0;
  padding: 0;
  display: block;
}

html, body {
  height: 100%;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

body {
  //background-color: #ebe9dc;
  background-color: #FAFAFA;
  &.embed_with_run #contents .new_window{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-image: image_url('gallery/open_new_window24.png');
    background-size: 30px 30px;
    z-index: 999999999;
    cursor: pointer;
  }
}

body.embed {
  overflow: hidden;
}

div#contents {
  margin-top: 0 !important;
  top: 0 !important;
}

div#main_gallery_wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    display: table;
    content: '';
    clear: both;
    line-height: 0;
  }
}

div#sidebar_wrapper {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #1C1C1C;
  z-index: 10000;

  &.expand {
    width: $sidebar_expand_width;
    margin-left: -$sidebar_expand_width;
  }
  &.collapse {
    width: $sidebar_collapse_width;
    margin-left: -$sidebar_collapse_width;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .user_wrapper {
      margin-top: 8px;
      text-align: center;

      > div {
        background-repeat: no-repeat;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;
      }
    }

    .search_wrapper {
      margin-top: 10px;
      text-align: center;

      .circle {
        background-repeat: no-repeat;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;
        background-image: image-url("gallery/sidebar/search.png");
      }
    }

    .view_wrapper {
      margin-top: 10px;
      text-align: center;
      > div {
        background-repeat: no-repeat;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;
      }
      .index {
        background-image: image-url("gallery/sidebar/index.png");
      }
      .grid {
        background-image: image-url("gallery/sidebar/grid.png");
      }
      .list {
        background-image: image-url("gallery/sidebar/list.png");
      }
      .circle {
        background-repeat: no-repeat;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;
      }
    }

    .worktable_wrapper {
      margin-top: 10px;
      text-align: center;

      .circle {
        background-repeat: no-repeat;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;
        background-image: image-url("gallery/sidebar/worktable.png");
      }
    }

    .circle {
      display: inline-block;
      opacity: 0.7;
      width: 50px !important;
      height: 50px !important;
    }

    .logo_wrapper {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;

      .circle {
        background-image: image-url("gallery/sidebar/logo.png");
        background-repeat: no-repeat;
        -moz-background-size: 50px 50px;
        background-size: 50px 50px;
      }
    }
    .doc {
      display: none;
    }
  }

  .sidebar_popup {
    position: absolute;
    right: 0;
    margin-right: 80px;
    width : 60px;
    height: 60px;
    z-index: 10000;
    display: none;

    &.user {
      top: 5px;
      width: 100px;
    }
    &.worktable {
      top: 68px;
    }
    &.view {
      top: 132px;
    }
    &.search {
      top: 196px;
    }
    &.logo {
      bottom: 5px;
    }

    .wrapper {
      position: relative;
      background: #ffffff;
      border: 3px solid #000000;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;

      &:after, &:before {
        left: 100%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #ffffff;
        border-width: 10px;
        margin-top: -10px;
      }
      &:before {
        border-color: rgba(0, 0, 0, 0);
        border-left-color: #000000;
        border-width: 14px;
        margin-top: -14px;
      }

      &.arrow_top {
        &:after, &:before {
          top: 45%;
        }
      }
      &.arrow_middle {
        &:after, &:before {
          top: 50%;
        }
      }
      &.arrow_bottom {
        &:after, &:before {
          top: 55%;
        }
      }
    }
  }
}

div#gallery_contents_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: $sidebar_collapse_width;
  overflow: scroll;
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 7px;
  }
}
body.detail {
  #contents {
    > div.operation_parent {
      display: none;
      z-index: 1999999999;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 180px;
      height: 65px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 7px;
    }
  }
}

body.full_window, body.embed, body.embed_with_run {
  div#contents {
    top: 0 !important;
  }
  div#gallery_contents_wrapper {
    padding-right: 0 !important;
    .wrapper {
      padding: 0 !important;
    }
  }
}

body.embed {
  #main_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #thumbnail_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .thumbnail_img {
      width: auto;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  #popup_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    div.button_wrapper {
      z-index: 5;
      position: relative;
      width: 100%;
      height: 100%;
      div.powered_by_link {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #E91E63;
        font-size: 18px;
        z-index: 10;
        div.powered_thumbnail {
          display: inline-block;
        }
      }
      div.play_in_embed_wrapper, div.play_in_site_wrapper {
        width: 100%;
        height: 50%;
        position: relative;
        div.caption_wrapper {
          color: white;
          font-size: 18px;
          font-weight: bold;
          width: 100%;
          text-align: center;
        }
      }
      div.play_in_embed, div.play_in_site  {
        width: 100%;
        height: 70px;
        //position: relative;
      }
      div.play_in_embed {
      }
      div.play_in_site {
        > div {
          width: 100%;
          height: 70px;

        }
      }
    }
  }
}

div#detail_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

div#grid_centering_wrapper {
  height: 100%;
}

div#grid_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid_contents_wrapper {
    box-sizing: border-box;
    //padding: 3px 3px 3px 3px;
    float: left;
    width: 180px;
    height: 180px;
    padding: 3px;
    //border: 3px solid hsla(0, 0%, 0%, 0.5);

    &.grid-item-width2 {
      width: 360px;
    }
    &.grid-item-height2 {
      height: 360px;
    }

    .grid_img_wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      margin-bottom: 5px;
      border-radius: 20px;

      .loading_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        background-color: transparent;

        .loading {
          background-size: auto;
          -moz-background-size: auto;
          background-image: image-url("gallery/loading.gif");
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
        }
      }
      .thumbnail_img_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        width: 100%;
        height: auto;

        .thumbnail_img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }
      }

      .hover_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width : 100%;
        height: 100%;
        background-color: transparent;
        display: none;
        &.yellow {
          border-color: rgb(255, 255, 158);
          border-width: 3px;
        }
        &.red {
          border-color: rgb(255, 0, 0);
          border-width: 3px;
        }
        .new_window {
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 30px;
          background-image: image_url('gallery/open_new_window24.png');
          background-size: 30px 30px;
          z-index: 2;
          cursor: pointer;
        }
        .info {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 50px;
          line-height: 50px;
          border-radius: 10px;
          vertical-align: middle;
          padding: 3px;
          text-align: center;
          background-color: rgba(33, 33, 33, 0.5);
          .title_wrapper {
            font-size: 16px;
            font-weight: bold;
            color: white;
          }
        }
        .detail_link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin-right: 70px;
}

