<div class="sidebar_popup user">
    <div class="wrapper arrow_top">
        <%= link_to 'Log Out',  destroy_user_session_path, method: :delete %>
    </div>
</div>
<div class="sidebar_popup view">
    <div class="wrapper arrow_middle">
        ok
    </div>
</div>
<div class="sidebar_popup search">
    <div class="wrapper arrow_middle">
        ok
    </div>
</div>
<div class="sidebar_popup logo">
    <div class="wrapper arrow_bottom">
        ok
    </div>
</div>
