<div class="sidebar_popup view">
    <div class="wrapper arrow_middle">
      under construction
    </div>
</div>
<div class="sidebar_popup search">
    <div class="wrapper arrow_middle">
      under construction
    </div>
</div>
<div class="sidebar_popup logo">
  <%= render 'base/copyright' %>
  <%= render 'base/myinfo'%>
</div>
