<div class="wrapper">
    <div class="user_wrapper">
        <!-- User -->
        <% if user_signed_in? %>
        <!-- ログイン済み -->
            Login
        <% else %>
        <!-- 未ログイン-->
            <div class="circle not_login blur"></div>
        <% end %>
    </div>

    <div class="logo_wrapper">
        <!-- logo -->
        <div class="circle logo blur"></div>
    </div>
    <div class="doc"></div>
</div>