<div id="cssCode" style="display: none">
    <%= render_cell :css_temp, :button %>

    <style type="text/css" id="sup_css" scoped=""></style>

    <div id="codeCache">
        <div id="btn-bg-color2-moz-cache"></div>
        <div id="btn-bg-color3-moz-cache"></div>
        <div id="btn-bg-color4-moz-cache"></div>
        <div id="btn-bg-color2-webkit-cache"></div>
        <div id="btn-bg-color3-webkit-cache"></div>
        <div id="btn-bg-color4-webkit-cache"></div>
    </div>

</div>