<div class="footer-message warn-message">
    <div><p></p></div>
    <input class="footer-message-display" type="hidden" value="0" >
</div>
<div class="footer-message error-message">
    <div><p></p></div>
    <input class="footer-message-display" type="hidden" value="0" >
</div>
<div id="flush_warn">
    <div><p></p></div>
</div>