<div id="main" class="col-md-9">
    <div id="main_container" class="stage_container">
        <div id="main_scroll" class="scroll_x_content">
            <div id="main-wrapper">
                <canvas id="canvas_container" class="canvas"></canvas>
            </div>
        </div>
    </div>
</div>