<div id="nav" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="header_items_file_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_items_file_menu">
                        File
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="menu-open" href="#">Open</a></li>
                        <li><a class="menu-save" href="#">Save</a></li>
                        <li><a class="menu-saveas" href="#">Save As ..</a></li>
                    </ul>
                </li>
                <li id="header_items_select_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_items_select_menu">
                        Items
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="active"><a class="menu-button" href="#">Button</a></li>
                        <li><a class="menu-arrow" href="#">Arrow</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li><a href="#">Run</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
</div>
