<div id="sidebar" class="col-md-3" style="display: block">
    <div id="sidebar_container" class="stage_container">

        <div id="sidebar-wrapper" class="scroll_y_content">
            <%= render 'work_table/sidebar_menu/css_config' %>
            <%= render 'work_table/sidebar_menu/canvas_config' %>
            <%= render 'work_table/sidebar_menu/timeline_config' %>
        </div>

    </div>

</div>