<div class="modal-content <%= Const::ModalViewType::ADMIN_PROJECTS %>">
  <div class="am_scroll_wrapper scroll_x_content">
    <div class="am_wrapper clearfix">
      <div class="am_list_wrapper">
        <div class="am_list">
        </div>
        <div>
          <div class="button_wrapper">
            <div>
              <button class="cancel_button button_black width90per" value="Cancel">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="am_input_wrapper">
        <div class="am_input">
          <div class="display_project_new_wrapper">
            <div class="cell_label">
              <label>Project name:</label>
            </div>
            <div>
              <input name="project_name" class="project_name" type="text" required="required"><br />
            </div>
          </div>
        </div>
        <div class="button_wrapper">
          <div>
            <button class="update_button button_red width90per" value="Update">Update</button>
            <button class="cancel_button button_black width90per" value="Cancel">Cancel</button>
          </div>
        </div>
        <input type="hidden" class="<%= Const::Project::Key::PROJECT_ID %>", value="">
      </div>
    </div>
  </div>
</div>