<div class="modal-content <%= Const::ModalViewType::INIT %>">
    <div class="content">
        <label for="project_name">Project Name:</label><input name="project_name" id="project_name" type="text" /><br />
        <label for="project_name">Display Size:</label>
        <div>

        </div>
        <input name="project_name" id="project_name" type="text" /><br />
        <button class="init_button" value="Start"></button>
    </div>
</div>