<div class="modal-content <%= Const::ModalViewType::INIT_PROJECT %>">
    <div class="content">
        <div class="project_create_wrapper">
            <div>
                <div style="display: inline-block">
                    <label><input type="radio" name="project_create" value="select" checked>Select</label>
                </div>
                <div style="display: inline-block">
                    <label><input type="radio" name="project_create" value="new">Create</label>
                </div>
            </div>
        </div>
        <div class="display_project_new_wrapper">
            <div class="cell_label">
                <label>Project name:</label>
            </div>
            <div>
                <input name="project_name" class="project_name" type="text" required="required"><br />
            </div>
        </div>
        <div class="display_project_new_wrapper">
            <div>
                <label>Display Size:</label>
            </div>
            <div>
                <div class="display_size_wrapper">
                    <label>
                        <input type="radio" name="project_size" value="default" checked>Fit (<span class="default_window_size"></span>)
                    </label>
                    <label>
                        <input type="radio" name="project_size" value="input">Input
                    </label>
                </div>
                <div class="display_size_input_wrapper" style="display: none">
                    <div style="display: inline-block">
                        Width:<input class="display_size_input_width" type="number" value="" maxlength="4" style="max-width: 50px">
                    </div>
                    <div style="display: inline-block">
                        Height:<input class="display_size_input_height" type="number" value="" maxlength="4" style="max-width: 50px">
                    </div>
                </div>
            </div>
        </div>
        <div class="display_project_select_wrapper">
            <div class="cell_label">
                <label>Select project:</label>
            </div>
            <div style="vertical-align: middle">
                <select class="project_select"></select>
            </div>
        </div>
        <div class="button_wrapper">
            <div>
                <span class="new"><button class="create_button width90per" value="Create">Create</button></span>
                <span class="select"><button class="open_button width90per" value="Open">Open</button></span>
                <button class="back_button width90per" value="Back to MainPage">Back to MainPage</button>
            </div>
        </div>
      <div class="error_wrapper" style="display: none">
        <div class="error">
        </div>
      </div>
    </div>
</div>