<div class="modal-content <%= Const::ModalViewType::ITEM_TEXT_EDITING %>">
  <div class="content">
    <div class="textarea_wrapper">
      <textarea class="textarea"></textarea>
    </div>
    <div class="button_wrapper">
      <div>
        <button class="create_button width90per" value="Apply">Apply</button>
        <button class="back_button width90per" value="Cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>