<div class="modal-content <%= Const::ModalViewType::ITEM_TEXT_EDITING %>">
  <div class="content">
    <div class="textarea_wrapper">
      <textarea class="textarea" placeholder="input text"></textarea>
    </div>
    <div>
      <select class="drawHorizontal_select">
      </select>
    </div>
    <div class="button_wrapper">
      <div>
        <button class="create_button button_red" value="Apply">Apply</button>
        <button class="back_button button_black" value="Cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>