<div class="modal-content <%= Const::ModalViewType::MESSAGE %>">
  <div class="content">
    <div class="message_wrapper">
      <div>
        <div class="message_contents">
        </div>
      </div>
    </div>
  </div>
</div>
