<!-- 未使用 -->
<div class="modal-content <%= Const::ModalViewType::UPLOAD_GALLERY_CONFIRM %>">
    <div class="content">
        <div class="capture_wrapper">
            <img class="img_capture" src="">
        </div>

        <div class="button_wrapper">
            <div>
                <button class="upload_button" value="Upload">UploadPage</button>
            </div>
        </div>
    </div>
</div>