<div id="css-config">

    <div class="config">
        <div id="btn-configBg" class="configBox">
            <div class="cssedit-headliner">Background</div>
            <div class="forms">
                <div class="gradient-color">
                    <div id="btn-bg-color1" class="colorPicker">
                    </div>
                    <div id="btn-bg-color2" class="colorPicker" style="display: none">
                    </div>
                    <div id="btn-bg-color3" class="colorPicker" style="display: none">
                    </div>
                    <div id="btn-bg-color4" class="colorPicker" style="display: none">
                    </div>
                    <div id="btn-bg-color5" class="colorPicker">
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>GradientStep:</label>
                        <input type="number" value="2" min="2" max="5" id="btn-gradient-step"/>
                        <div id="btn-slider-gradient"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0;"></a>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Degree:</label>
                        <input type="text" class="btn-slider-gradient-deg-value" value="0" min="0" max="315" readonly="">

                        <div id="btn-slider-gradient-deg"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configBg -->
    </div>
    <div class="config">

        <div id="btn-configBorder" class="configBox">
            <div class="cssedit-headliner">border / padding</div>
            <div class="forms">
                <div>
                    <div id="btn-border-color" class="colorPicker hex">
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Width:</label>
                        <input type="text" class="btn-slider-border-width-value" value="0" readonly="">

                        <div id="btn-slider-border-width"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Radius:</label>
                        <input type="text" class="btn-slider-border-radius-value" value="0" readonly="">

                        <div id="btn-slider-border-radius"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configBorder -->
    </div>


    <div class="config">
        <div id="btn-configShadow" class="configBox">
            <div class="cssedit-headliner">drop shadow</div>
            <div class="forms">
                <div>
                    <div id="btn-shadow-color" class="colorPicker rgb">
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Horizontal:</label>
                        <input type="text" class="btn-slider-shadow-left-value" value="0" readonly="">

                        <div id="btn-slider-shadow-left"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Vertical:</label>
                        <input type="text" class="btn-slider-shadow-top-value" value="0" readonly="">

                        <div id="btn-slider-shadow-top"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Size:</label>
                        <input type="text" class="btn-slider-shadow-size-value" value="0" readonly="">

                        <div id="btn-slider-shadow-size"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Opacity:</label>
                        <input type="text" class="btn-slider-shadow-opacity-value" value="0" readonly="">

                        <div id="btn-slider-shadow-opacity"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configShadow -->
    </div>
    <div class="config">
        <div id="btn-configShadowinset" class="configBox">
            <div class="cssedit-headliner">inner shadow</div>
            <div class="forms">
                <div>
                    <div id="btn-shadowinset-color" class="colorPicker">
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Horizontal:</label>
                        <input type="text" class="btn-slider-shadowinset-left-value" value="0" readonly="">

                        <div id="btn-slider-shadowinset-left"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Vertical:</label>
                        <input type="text" class="btn-slider-shadowinset-top-value" value="0" readonly="">

                        <div id="btn-slider-shadowinset-top"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Size:</label>
                        <input type="text" class="btn-slider-shadowinset-size-value" value="0" readonly="">

                        <div id="btn-slider-shadowinset-size"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Opacity:</label>
                        <input type="text" class="btn-slider-shadowinset-opacity-value" value="0"
                               readonly="">

                        <div id="btn-slider-shadowinset-opacity"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configShadowinset -->

    </div>
    <!-- /.config -->

    <div class="config config2">

        <div id="btn-configText" class="configBox">
            <div class="cssedit-headliner">text font</div>
            <div class="forms">
                <div>
                    <div id="btn-font-color" class="colorPicker">
                    </div>
                </div>
                <div class="spin">
                    <div class="meter">
                        <label>Size:</label>
                        <input type="text" class="btn-slider-font-size-value" value="0" readonly="">

                        <div id="btn-slider-font-size"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configText -->

    </div>
    <div class="config">
        <div id="btn-configTextShadow1" class="configBox">
            <div class="cssedit-headliner">text shadow 1</div>
            <div class="forms">
                <div>
                    <div id="btn-text-shadow1-color" class="colorPicker rgb">
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Horizontal:</label>
                        <input type="text" class="btn-slider-text-shadow1-left-value" value="0" readonly="">

                        <div id="btn-slider-text-shadow1-left"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Vertical:</label>
                        <input type="text" class="btn-slider-text-shadow1-top-value" value="0" readonly="">

                        <div id="btn-slider-text-shadow1-top"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Size:</label>
                        <input type="text" class="btn-slider-text-shadow1-size-value" value="0" readonly="">

                        <div id="btn-slider-text-shadow1-size"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Opacity:</label>
                        <input type="text" class="btn-slider-text-shadow1-opacity-value" value="0"
                               readonly="">

                        <div id="btn-slider-text-shadow1-opacity"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configtextshadow1 -->

    </div>
    <div class="config">
        <div id="btn-configTextShadow2" class="configBox">
            <div class="cssedit-headliner">text shadow 2</div>
            <div class="forms">
                <div>
                    <div id="btn-text-shadow2-color" class="colorPicker rgb">
                    </div>
                </div>

                <div>
                    <div class="meter">
                        <label>Left+Right:</label>
                        <input type="text" class="btn-slider-text-shadow2-opacity-value" value="0"
                               readonly="">

                        <div id="btn-slider-text-shadow2-opacity"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Left+Right:</label>
                        <input type="text" class="btn-slider-text-shadow2-left-value" value="0" readonly="">

                        <div id="btn-slider-text-shadow2-left"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Left+Right:</label>
                        <input type="text" class="btn-slider-text-shadow2-top-value" value="0" readonly="">

                        <div id="btn-slider-text-shadow2-top"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="meter">
                        <label>Left+Right:</label>
                        <input type="text" class="btn-slider-text-shadow2-size-value" value="0" readonly="">

                        <div id="btn-slider-text-shadow2-size"
                             class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
                        class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#configtextshadow2 -->

    </div>
    <!-- /.config -->
    <input type="hidden" name="btn-bg-color1" value="ffffff" id="btn-bg-color1-input">
    <input type="hidden" name="btn-bg-color2" value="ebebeb" id="btn-bg-color2-input">
    <input type="hidden" name="btn-bg-color3" value="dbdbdb" id="btn-bg-color3-input">
    <input type="hidden" name="btn-bg-color4" value="ffffff" id="btn-bg-color4-input">
    <input type="hidden" name="btn-bg-color5" value="b5b5b5" id="btn-bg-color5-input">
    <input type="hidden" name="btn-border-color" value="949494" id="btn-border-color-input">
    <input type="hidden" name="btn-shadow-color" value="000000" id="btn-shadow-color-input">
    <input type="hidden" name="btn-shadowinset-color" value="ffffff" id="btn-shadowinset-color-input">
    <input type="hidden" name="btn-font-color" value="050505" id="btn-font-color-input">
    <input type="hidden" name="btn-text-shadow1-color" value="000000" id="btn-text-shadow1-color-input">
    <input type="hidden" name="btn-text-shadow2-color" value="ffffff" id="btn-text-shadow2-color-input">

</div>