<div id="timeline-config" style="display: none">
    <div class="config">
        <div id="btn-configBg" class="configBox">
            <div class="cssedit-headliner">Background</div>
                <div class="forms">
                </div>
            </div>
        </div>
    </div>
</div>