<div id="timeline-config">
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">ActionType</div>
            <div class="forms action_type_form">
            </div>
        </div>
    </div>
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">ActionAdjust</div>
            <div class="forms">
            </div>
        </div>
    </div>
    <%= render 'work_table/sidebar_menu/css_config_param' %>
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">Apply</div>
            <div class="forms">
            </div>
        </div>
    </div>
</div>