<%= render 'motion_check/navbar/navber_window' %>

<div id="contents">
    <%= render 'run/fullscreen/fullscreen' %>
    <%= render 'base/csscode' %>
    <%= render 'base/values', pagevalues: @pagevalues, is_runwindow_reload: @is_runwindow_reload %>
</div>