<%= stylesheet_link_tag 'lookaround', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'lookaround', 'data-turbolinks-track' => true %>

<div id="main-wrapper">
    <div id="scroll_wrapper">
        <div id="scroll_contents">
            <div id="scroll_inside"></div>
        </div>
    </div>
    <div id="canvas_wrapper">
        <canvas id="canvas_container" class="canvas"></canvas>
    </div>
    <!--
    <div id="footer">
        <div id="scrollpoint_container">
            <div class="scrollpoint"></div>
        </div>
    </div> -->
</div>

<div id="cssCode" style="display: none">
    <%= render_cell :css_temp, :button %>
    <style type="text/css" id="btn-CSS" scoped=""></style>
</div>

<style type="text/css" id="btn-CSS" scoped="">
    div.css3button {
                                                          font-family: Arial, Helvetica, sans-serif;
                                                          font-size: 14px;
                                                          color: #ffffff;
                                                          padding: 10px 20px;
                                                          background: -moz-linear-gradient(
                                                                  0deg,
                                                                  #ffbdf5 0%,

                                                                  #ff82ec 25%,
                                                                  #fc46e1 50%,
                                                                  #fc46e1 75%,
                                                                  #fc46e1 100%);
                                                          background: -webkit-gradient(
                                                                  linear, left top, left bottom,
                                                                  from(#ffbdf5),


                                                                  color-stop(0.25,
                                                                  #ff82ec),




                                                                  color-stop(0.50,
                                                                  #ff82ec),




                                                                  color-stop(0.75,
                                                                  #ff82ec),


                                                                  to(#fc46e1));
                                                          -moz-border-radius: 30px;
                                                          -webkit-border-radius: 30px;
                                                          border-radius: 30px;
                                                          border: 3px solid #ffffff;
                                                          -moz-box-shadow:
                                                          0px 3px 11px rgba(000,000,000,0.5),
                                                          inset 0px 0px 1px rgba(255,000,217,1);
                                                          -webkit-box-shadow:
                                                          0px 3px 11px rgba(000,000,000,0.5),
                                                          inset 0px 0px 1px rgba(255,000,217,1);
                                                          box-shadow:
                                                          0px 3px 11px rgba(000,000,000,0.5),
                                                          inset 0px 0px 1px rgba(255,000,217,1);
                                                          text-shadow:
                                                          0px -1px 0px rgba(000,000,000,0.2),
                                                          0px 1px 0px rgba(255,255,255,0.3);
                                                          display: table;
                                                          z-index:100;
                                                          width: 100%;
                                                          height: 100%;
                                                      }

</style>