<%= stylesheet_link_tag 'lookaround', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'lookaround', 'data-turbolinks-track' => true %>

<%= render 'look_around/navber' %>

<div id="contents">

    <div id="main">
        <div id="main-wrapper">
            <div id="scroll_wrapper">
                <div id="scroll_handle_wrapper">
                    <div id="scroll_handle"></div>
                </div>
                <div id="scroll_contents">
                    <div id="scroll_inside"></div>
                </div>
            </div>
            <div id="canvas_wrapper">
                <canvas id="canvas_container" class="canvas"></canvas>
            </div>
        </div>
    </div>

    <div id="cssCode" style="display: none">
        <style type="text/css" id="sup_css" scoped=""></style>
    </div>

</div>