@charset "utf-8";

// 編集選択時の枠の色
$editSelectedBorderColor : #00FF00;

// タイムライン選択時の枠の色
$timelineSelectedBorderColor : #00BFFF;

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote {
  margin: 0;
  padding: 0;
  display: block;
}

html, body {
  height: 100%;
  background-color: #F9F6EA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#contents, #main, #sidebar, #timeline_container {
  height: 100%;
}

#contents {
  margin-top: 51px;
}

#main, #sidebar, #timeline {
  padding: 5px 15px 5px 15px;
}

div#main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#scroll_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

div#scroll_contents {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: transparent;
  box-sizing: content-box;
}

div#scroll_inside {
  position: relative;
  width: 100%;
  height: 100%;
}

.stage_container {
  background-color: #FAFAFA;
  border: 5px solid #e6deca;
}

.scroll_x_content {
  overflow-x: scroll;
}

.scroll_y_content {
  overflow-y: scroll;
}

#sidebar_container {
  padding: 15px 5px 10px 5px;
  height: 100%;
  fieldset, img {
    border: 0;
  }
  address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  caption, th {
    text-align: left;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
  }
  q {
    &:before, &:after {
      content: '';
    }
  }
  abbr, acronym {
    border: 0;
  }
  textarea {
    overflow: auto;
  }
  table, pre, code, kbd, samp, tt {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 13px;
    line-height: 1.22;
  }
  .clearfix {
    *zoom: 1;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
  }
  .hide-text {
    font: 0 / 0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .input-block-level {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .font-ja {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  }
  .font-en {
    font-family: 'Arial', sans-serif;
  }
  .text-trim {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  header {
    position: relative;
    padding: 40px 0 0;
    height: 80px;
  }
  #side {
    width: 336px;
    position: relative;
    padding: 226px 0 0;
  }
  footer {
    padding: 40px 0;
    margin: 0 0 80px;
    background-color: #eee;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
  }
  a {
    color: #ffa800;
    text-decoration: underline;
    outline: 0;
    &:hover {
      color: #ffa800;
    }
  }
  #sidebar-wrapper ul#nav li#homeBtn {
    border-bottom: solid 5px #ffcc00;
  }
  body {
    &#showcase ul#nav li#showcaseBtn, &.preset ul#nav li#presetBtn, &.random ul#nav li#randomBtn {
      border-bottom: solid 5px #ffcc00;
    }
  }
  #sidebar-wrapper {
    height: 100%;
  }
  .config {
    margin: 0 0 30px 0;
    width: 100%;
    .configBox {
      padding: 0 10px 0 10px;
      width: 100%;
    }
    > div > h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      line-height: 1.1;
      color: #fff;
      background-color: #000;
      padding: 4px 7px;
      margin: 0 0 7px;
      text-transform: uppercase;
      display: block;
      font-weight: normal;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
    &:last-child > div h2 {
      background-color: #666;
    }
  }
  .colorPicker {
    width: 120px;
    height: 24px;
    border-radius: 3px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    &:hover {
      background-color: #666666;
    }
    div {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 68px;
      height: 16px;
      border-radius: 1px;
      -moz-border-radius: 1px;
      -webkit-border-radius: 1px;
    }
  }
  #btn-configBg .colorPicker {
    width: 20px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #000000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
  }
  div.forms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    text-align: center;
    > div {
      input.check {
        position: absolute;
        top: 4px;
        right: 80px;
      }
      &.gradient-color {
        display: flex;
        //display: -moz-flex;
        //display: -o-flex;
        display: -webkit-flex;
        //display: -ms-flex;
        flex-direction: row;
        -moz-flex-direction: row;
        -o-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        justify-content: space-between;
      }
      &.mini {
        width: 116px;
        padding: 2px 0 0 70px;
        .colorPicker {
          width: 24px;
          div {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;
          }
        }
        > .mask {
          height: 24px;
          width: 76px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
  #htmlCode h2, #cssCode h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    padding: 0 0 4px;
  }
  .code {
    width: 326px;
    color: #999;
    padding: 5px;
    margin: 0 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.2;
    -moz-box-shadow: inset 0 1px 3px #000;
    -webkit-box-shadow: inset 0 1px 3px #000;
    background-color: #373737;
    display: block;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    span {
      &.c {
        color: #ccf;
      }
      &.s {
        color: #9ff;
      }
      &.a {
        color: #ffff99;
      }
      &.p {
        color: #ffccff;
      }
      &.property {
        color: #eeeeee;
      }
    }
    &:hover {
      color: #ccc;
      background-color: #000;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  textarea#csscopy {
    display: none;
    background-color: #000000;
  }
  body {
    &.user h2#pageTitle {
      background-position: 0 -50px;
    }
    &.random h2#pageTitle {
      background-position: 0 -100px;
    }
    &.preset h2#pageTitle {
      background-position: 0 -150px;
    }
  }
  .ads468x15, .ads468x60 {
    width: 500px;
    margin: 0 0 20px;
  }
  #socialParts {
    width: 500px;
    margin: 30px 0 0;
  }
  .pagerBox {
    width: 896px;
    margin: 0 0 50px;
  }
  #pageTitle + ul.pager {
    width: 500px;
    position: absolute;
    top: 5px;
    right: 0;
  }
  ul.pager {
    width: 896px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: right;
    text-transform: uppercase;
    line-height: 1;
    li {
      display: inline;
      a {
        color: #000;
        margin: 0 1px;
        padding: 2px 5px;
        text-decoration: none;
      }
      span {
        color: #000;
        margin: 0 1px;
        padding: 2px 5px;
        text-decoration: none;
        color: #e3e3e3;
      }
      a:hover {
        color: #ffcc00;
      }
      &.on a {
        border-bottom: solid 5px #ffcc00;
      }
    }
  }
  #reload {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: right;
    text-transform: uppercase;
    line-height: 1;
    width: 500px;
    position: absolute;
    top: 10px;
    right: 0;
  }
  div.cssedit-headliner {
    background-image: image-url("sidebar/css_option_headline.jpg");
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  div.timelineedit-headliner {
    background-image: image-url("sidebar/timeline_option_headline.jpg");
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  .meter {
    text-align: left;
    input {
      border: 0;
      color: #f6931f;
      font-weight: bold;
      background-color: transparent;
      width: 50px;
    }
    label {
      font-family: "Trebuchet MS";
      font-size: 12px;
      color: #666;
      display: inline;
    }
  }
}

div.css3button > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.selection-box {
  position: absolute;
  background: transparent;
  border: 1px dotted #000;
}

.footer-message {
  margin-left: 10px;
  position: fixed;
  bottom: -30px;
  text-align: center;
  > div {
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    position: relative;
    &::after {
      border-left: solid 7px transparent;
      border-right: solid 7px transparent;
      bottom: -10px;
      content: "";
      display: block;
      left: 10px;
      margin-left: -3px;
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}

.warn-message > div {
  background: #edb918;
  &::after {
    border-top: solid 10px #edb918;
  }
}

.error-message > div {
  background: crimson;
  &::after {
    border-top: solid 10px crimson;
  }
}

#flush_warn {
  margin-left: 10px;
  position: fixed;
  bottom: 10px;
  text-align: center;
  display: none;
  > div {
    background: #edb918;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    position: relative;
  }
}

.context-menu {
  z-index: 1000 !important;
}

#canvas_container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.canvas {
  color: transparent;
}

.item {
  position: relative;
}

.editSelected {
  //padding: 1px !important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid $editSelectedBorderColor;
}

.timelineSelected {
  //padding: 1px !important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid $timelineSelectedBorderColor;
}

#timeline {
  height: 70px;

  #timeline_events_container {
    margin: 5px 10px;
    height: 40px;

    #timeline_events {
      height: 100%;

      .timeline_event {
        position: relative;
        width: 30px;
        margin-right: 10px;
        height: 40px;
        box-sizing: border-box;
//        border-radius: 3px;
//        background-color: #212121;
//        -moz-border-radius: 3px;
//        -webkit-border-radius: 3px;
//        text-align: center;
        font-size: 12px;
        color: #ffffff;
        //padding: 30px 10px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #000000;
        text-decoration:none;
        background-color: #000000;
        -moz-box-shadow:inset 0 0 13px rgba(18,18,18,0.7);
        -webkit-box-shadow:inset 0 0 13px rgba(18,18,18,0.7);
        text-shadow:0px -1px 2px rgba(000,000,000,0.9),0 1px 2px rgba(000,000,000,0.8);
        float: left;
      }

      .click {
        border: 1px solid #7d0000;
        background: -moz-linear-gradient(top,#bb0000 0%,#a80000 39%,#870000);
        background: -webkit-gradient(linear, left top, left bottom, from(#bb0000),color-stop(0.39, #a80000),to(#870000));
      }

      .scroll {
        border: 1px solid #00007d !important;
        background: -moz-linear-gradient(top,#0000bb 0%,#0000a8 39%,#000087) !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#0000bb),color-stop(0.39, #0000a8),to(#000087)) !important;
      }
    }
  }
}

div#ws_values {
  display: none;
}