<div id="wrapper">
    <div class="content_wrapper">
        <div id="new-wrapper">
            <div id="header">Create User</div>
            <%= render 'user/form' %>
        </div>
    </div>
</div>