<div class="<%= Const::StateConfig::ITEM_TEMP_CLASS_NAME %>">
    <div class="wrapper">
        <div class="name"></div>
        <div class="buttons">
            <%= image_tag("sidebar/state/edit.png", size:'10x10') %>
            <span class="visible">
                <%= image_tag("sidebar/state/eye_visible.png", size:'10x10') %>
            </span>
            <span class="invisible">
                <%= image_tag("sidebar/state/eye_invisible.png", size:'10x10') %>
            </span>
        </div>
    </div>
</div>