<div class="grid_contents_wrapper">
    <div class="grid_img_wrapper">
        <div class="loading_wrapper">
            <img class="loading" />
        </div>
        <div style="display:none;">
            <img class="grid_img" />
        </div>
    </div>
    
    <div class="info">

    </div>
</div>