<%= stylesheet_link_tag 'gallery', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'gallery_with_run', 'data-turbolinks-track' => true %>

<div id="detail_wrapper">
    <div id="detail_header">

    </div>
    <div id="detail_run_wrapper">
        <%= render 'run/main' %>
    </div>
    <div id="detail_footer">

    </div>
</div>
