<form name="send_form">
    <div id="grid_centering_wrapper">
        <div id="grid_wrapper">
            <% @contents.each do |content| %>
                <%= render 'gallery/grid/grid_contents', content: content %>
            <% end %>
          <% @dummy_contents_length.times do %>
            <%= render 'gallery/grid/grid_contents', is_blink: true %>
          <% end %>
        </div>
    </div>
</form>

<%= javascript_include_tag 'pipeline/gallery', 'data-turbolinks-track' => true %>