<div id="main" class="col-xs-9">
  <div id="screen_wrapper">
    <div id="project_wrapper" class="border">
      <div class="main-wrapper">
        <div class="scroll_wrapper">
          <div class="scroll_contents">
            <div class="scroll_inside_wrapper">
              <div class="scroll_background">
                <div class="scroll_inside"></div>
              </div>
            </div>
          </div>
        </div>
        <canvas class="canvas_container canvas" style="z-index: <%= Const::Zindex::EVENTBOTTOM %>"></canvas>
      </div>
    </div>
  </div>
</div>

<%= render 'base/indicator' %>