<div id="contents">
    <div id="wrapper">
        <div id="tree_wrapper">
            <div id="tree">
                <ul>
                    <li>Root node 1</li>
                </ul>
            </div>
        </div>
        <div id="editor_wrapper">
            <div id="editor"></div>
        </div>
    </div>
</div>