<div id="main" class="col-md-12">
    <div id="main-wrapper" class="stage_container">
        <div id="scroll_wrapper">
            <div id="scroll_contents">
                <div id="scroll_inside"></div>
            </div>
        </div>
        <canvas id="canvas_container" class="canvas" style="z-index: <%= Const::Zindex::EVENTBOTTOM %>"></canvas>
    </div>
</div>