<div id="sidebar" class="col-md-3" style="display:none">
    <div id="sidebar_container" class="stage_container">

        <div id="sidebar-wrapper" class="scroll_y_content">
            <%= render 'worktable/sidebar_menu/setting/setting' %>
            <%= render 'worktable/sidebar_menu/design/design' %>
            <%= render 'worktable/sidebar_menu/timeline/timeline' %>
        </div>

    </div>

</div>