<div id="sidebar" class="col-md-3" style="display:none">
    <div id="sidebar_container" class="stage_container">

        <div id="sidebar-wrapper" class="scroll_y_content">
            <%= render 'worktable/sidebar_menu/css_config' %>
            <%= render 'worktable/sidebar_menu/canvas_config' %>
            <%= render 'worktable/sidebar_menu/timeline_config' %>
        </div>

    </div>

</div>