<div id="timeline">
    <div id="timeline_container" class="stage_container">
        <div id="timeline_events_container">
            <div id="timeline_events" class="scroll_x_content">
                <div class="timeline_event sortable blank"></div>
                <!--
                <div class="timeline_event sortable click"></div>
                <div class="timeline_event sortable scroll"></div>
                -->
            </div>
        </div>
    </div>
</div>