<div class="config te_div action_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.action.action ') %></div>
    <div class="forms action_forms">
    </div>
  </div>
</div>
