<div class="config te_div action_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner">Action</div>
    <div class="forms action_forms">
    </div>
  </div>
</div>
