<div class="config te_div button_div" style="display: none">
  <div class="configBox">
    <div class="forms">
      <div style="margin:5px;">
        <button class="push button preview">Preview</button>
        <button class="push button preview_stop">Stop</button>
        <div>
          <label><input class="keep_disp_mag" name="keep_disp_mag" type="checkbox">Keep display magnification</label>
        </div>
      </div>
      <div style="margin:5px;">
        <button class="push button apply" >Apply</button><br/>
      </div>
      <!-- エラー (暫定でこの位置) -->
      <div class="event_config_error error-message">
        <div><p></p></div>
      </div>
    </div>
  </div>
</div>