<div class="config te_div button_div" style="display: none">
  <div class="configBox">
    <div class="forms">
      <div style="margin:5px;">
        <div class="button_preview_wrapper">
          <button class="push button preview"><%= I18n.t('config.event.action.preview') %></button>
          <div>
            <label><input class="keep_disp_mag" name="keep_disp_mag" type="checkbox"><%= I18n.t('config.event.action.keep_mag') %></label>
          </div>
        </div>
        <div class="button_stop_preview_wrapper">
          <button class="push button preview_stop"><%= I18n.t('config.event.action.stop_preview') %></button>
        </div>
      </div>
      <div style="margin:5px;">
        <button class="push button apply" ><%= I18n.t('config.event.action.apply') %></button><br/>
      </div>
      <!-- エラー (暫定でこの位置) -->
      <div class="event_config_error error-message">
        <div><p></p></div>
      </div>
    </div>
  </div>
</div>