<div class="config te_div values_div" style="display: none">
  <div class="configBox">
    <div class="forms">
      <button class="push button reset" style="margin-top: 10px">reset change</button><br/>
      <button class="push button apply" style="margin-top: 10px">Apply</button><br/>
      <button class="push button cancel" style="margin-top: 10px">Close(Not apply)</button>
      <input class="confirm" type="hidden" value="OK?(Confirm)">
      <!-- エラー (暫定でこの位置) -->
      <div class="event_config_error error-message">
        <div><p></p></div>
      </div>
    </div>
  </div>
</div>