<div class="config te_div handler_div" style="display: none">
  <div class="configBox">
    <div class="forms">
      <div>
        <div style="display: inline-block">
          <input type="radio" name="handler_select" value="scroll">Scroll
        </div>
        <div style="display: inline-block">
          <input type="radio" name="handler_select" value="click">Click
        </div>
      </div>
      <div class="handler_form scroll_form" style="display: none">
        <%= render 'sidebar_menu/event/parts/handler_scroll' %>
      </div>
      <div class="handler_form click_form" style="display: none">
        <%= render 'sidebar_menu/event/parts/handler_click' %>
      </div>
    </div>

  </div>
</div>