<div class="config te_div item_state_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner">State</div>
    <div class="forms">
      <!-- フォーカス -->
      <div>
        <label><input class="do_focus" name="do_focus" type="checkbox">Focus</label>
      </div>
    </div>
  </div>
</div>
