<div class="config te_div item_state_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.item_state.item_state') %></div>
    <div class="forms">
      <!-- フォーカス -->
      <div>
        <label><input class="do_focus" name="do_focus" type="checkbox"><%= I18n.t('config.event.item_state.focus') %></label>
      </div>
    </div>
  </div>
</div>
