<div class="config te_div parallel_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.action.sync_before') %></div>
    <div class="forms">
      <!-- 同時実行 -->
      <label><input class="parallel" name="parallel" type="checkbox">On</label>
    </div>
  </div>
</div>