<div class="config">
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.target_select.target_select') %></div>
    <div class="forms">
      <!-- イベント対象一覧 -->
      <!-- ワークスペース読み込み時に設定 -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= I18n.t('config.event.target_select.default') %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu te_item_select">
        </ul>
        <input type="hidden" value="" />
      </div>
    </div>
  </div>
</div>