<div class="config">
  <div class="configBox">
    <div class="event-config_statechange-headliner">Target</div>
    <div class="forms">
      <!-- イベント内容をアイテムに状態に適用 -->
      <div>
        <label><input class="update_event_after" name="update_event_after" type="checkbox">Show prev events applied</label>
      </div>
    </div>
  </div>
</div>