<div class="config">
  <div class="configBox">
    <div class="event-config_statechange-headliner"><%= I18n.t('config.event.display_state.display_state') %></div>
    <div class="forms">
      <!-- イベント内容をアイテムに状態に適用 -->
      <div>
        <label><input class="update_event_after" name="update_event_after" type="checkbox"><%= I18n.t('config.event.display_state.applied_state') %></label>
      </div>
    </div>
  </div>
</div>