<div id="<%= Const::Setting::ROOT_ID_NAME %>" class="sidebar-config" style="display: none">
    <div class="config">
        <div class="configBox">
            <div class="settingedit-headliner">Grid</div>
            <div class="forms">
                <!-- グリッド線 -->
                <label><input class="<%= Const::Setting::GRID_CLASS_NAME %>" type="checkbox">Show Grid</label>
            </div>
        </div>
    </div>
</div>