<div id="setting-config" class="sidebar-config" style="display: none">
    <div class="config">
        <div class="configBox">
            <div class="settingedit-headliner">Grid</div>
            <div class="forms">
                <!-- グリッド線 -->
                <label><input class="grid" name="grid" type="checkbox">Show Grid</label>
            </div>
        </div>
    </div>
</div>