<div id="<%= Const::Setting::ROOT_ID_NAME %>" class="sidebar-config" style="display: none">
    <div class="config">
        <div class="configBox">
            <div class="settingedit-headliner">Grid</div>
            <div class="forms">
                <!-- グリッド線 -->
                <div style="float: left;">
                    <label><input class="<%= Const::Setting::GRID_CLASS_NAME %>" type="checkbox">Show Grid</label>
                </div>
                <div class="<%= Const::Setting::GRID_STEP_DIV_CLASS_NAME %>" style="float: left"><input type="text" class="<%= Const::Setting::GRID_STEP_CLASS_NAME %>">px</div>
                <br style="clear: both;">
            </div>
        </div>
    </div>
</div>