<div class="config">
  <div class="design-configBg configBox">
    <div class="cssedit-headliner">Background</div>
    <div class="forms">
      <div class="gradient-color">
        <div class="design_bg_color1 colorPicker">
        </div>
        <div class="design_bg_color2 colorPicker" style="display: none">
        </div>
        <div class="design_bg_color3 colorPicker" style="display: none">
        </div>
        <div class="design_bg_color4 colorPicker" style="display: none">
        </div>
        <div class="design_bg_color5 colorPicker">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>GradientStep:</label>
          <input type="number" value="" min="2" max="5" class="design_gradient_step"/>
          <div class="design_slider_gradient ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Degree:</label>
          <input type="text" class="design_slider_gradient_deg_value" value="0" min="0" max="315" readonly="">

          <div class="design_slider_gradient_deg ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configBg -->
</div>
<div class="config">

  <div class="configBox">
    <div class="cssedit-headliner">border / padding</div>
    <div class="forms">
      <div>
        <div class="design_border_color colorPicker hex">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Width:</label>
          <input type="text" class="design_slider_border_width_value" value="0" readonly="">

          <div class="design_slider_border_width ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Radius:</label>
          <input type="text" class="design_slider_border_radius_value" value="0" readonly="">

          <div class="design_slider_border_radius ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configBorder -->
</div>


<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">drop shadow</div>
    <div class="forms">
      <div>
        <div class="design_shadow_color colorPicker rgb">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Horizontal:</label>
          <input type="text" class="design_slider_shadow_left_value" value="0" readonly="">

          <div class="design_slider_shadow_left ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Vertical:</label>
          <input type="text" class="design_slider_shadow_top_value" value="0" readonly="">

          <div class="design_slider_shadow_top ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Blur:</label>
          <input type="text" class="design_slider_shadow_size_value" value="0" readonly="">

          <div class="design_slider_shadow_size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Opacity:</label>
          <input type="text" class="design_slider_shadow_opacity_value" value="0" readonly="">

          <div class="design_slider_shadow_opacity ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configShadow -->
</div>
