<div class="config">
  <div class="design-configBg configBox">
    <div class="cssedit-headliner">Background</div>
    <div class="forms">
      <div class="gradient-color">
        <div class="design-bg-color1 colorPicker">
        </div>
        <div class="design-bg-color2 colorPicker" style="display: none">
        </div>
        <div class="design-bg-color3 colorPicker" style="display: none">
        </div>
        <div class="design-bg-color4 colorPicker" style="display: none">
        </div>
        <div class="design-bg-color5 colorPicker">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>GradientStep:</label>
          <input type="number" value="2" min="2" max="5" class="design-gradient-step"/>
          <div class="design-slider-gradient ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Degree:</label>
          <input type="text" class="design-slider-gradient-deg-value" value="0" min="0" max="315" readonly="">

          <div class="design-slider-gradient-deg ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configBg -->
</div>
<div class="config">

  <div class="configBox">
    <div class="cssedit-headliner">border / padding</div>
    <div class="forms">
      <div>
        <div class="design-border-color colorPicker hex">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Width:</label>
          <input type="text" class="design-slider-border-width-value" value="0" readonly="">

          <div class="design-slider-border-width ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Radius:</label>
          <input type="text" class="design-slider-border-radius-value" value="0" readonly="">

          <div class="design-slider-border-radius ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configBorder -->
</div>


<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">drop shadow</div>
    <div class="forms">
      <div>
        <div class="design-shadow-color colorPicker rgb">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Horizontal:</label>
          <input type="text" class="design-slider-shadow-left-value" value="0" readonly="">

          <div class="design-slider-shadow-left ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Vertical:</label>
          <input type="text" class="design-slider-shadow-top-value" value="0" readonly="">

          <div class="design-slider-shadow-top ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Size:</label>
          <input type="text" class="design-slider-shadow-size-value" value="0" readonly="">

          <div class="design-slider-shadow-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Opacity:</label>
          <input type="text" class="design-slider-shadow-opacity-value" value="0" readonly="">

          <div class="design-slider-shadow-opacity ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configShadow -->
</div>
<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">inner shadow</div>
    <div class="forms">
      <div>
        <div class="design-shadowinset-color colorPicker">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Horizontal:</label>
          <input type="text" class="design-slider-shadowinset-left-value" value="0" readonly="">

          <div class="design-slider-shadowinset-left ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Vertical:</label>
          <input type="text" class="design-slider-shadowinset-top-value" value="0" readonly="">

          <div class="design-slider-shadowinset-top ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Size:</label>
          <input type="text" class="design-slider-shadowinset-size-value" value="0" readonly="">

          <div class="design-slider-shadowinset-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Opacity:</label>
          <input type="text" class="design-slider-shadowinset-opacity-value" value="0"
                 readonly="">

          <div class="design-slider-shadowinset-opacity ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configShadowinset -->

</div>
<!-- /.config -->

<div class="config config2">

  <div class="configBox">
    <div class="cssedit-headliner">text font</div>
    <div class="forms">
      <div>
        <div class="design-font-color colorPicker">
        </div>
      </div>
      <div class="spin">
        <div class="meter">
          <label>Size:</label>
          <input type="text" class="design-slider-font-size-value" value="0" readonly="">

          <div class="design-slider-font-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configText -->

</div>
<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">text shadow 1</div>
    <div class="forms">
      <div>
        <div class="design-text-shadow1-color colorPicker rgb">
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Horizontal:</label>
          <input type="text" class="design-slider-text-shadow1-left-value" value="0" readonly="">

          <div class="design-slider-text-shadow1-left ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Vertical:</label>
          <input type="text" class="design-slider-text-shadow1-top-value" value="0" readonly="">

          <div class="design-slider-text-shadow1-top ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Size:</label>
          <input type="text" class="design-slider-text-shadow1-size-value" value="0" readonly="">

          <div class="design-slider-text-shadow1-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Opacity:</label>
          <input type="text" class="design-slider-text-shadow1-opacity-value" value="0"
                 readonly="">

          <div class="design-slider-text-shadow1-opacity ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#configtextshadow1 -->

</div>
<div class="config">
  <div class="configBox">
    <div class="cssedit-headliner">text shadow 2</div>
    <div class="forms">
      <div>
        <div class="design-text-shadow2-color colorPicker rgb">
        </div>
      </div>

      <div>
        <div class="meter">
          <label>Left+Right:</label>
          <input type="text" class="design-slider-text-shadow2-opacity-value" value="0"
                 readonly="">

          <div class="design-slider-text-shadow2-opacity ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Left+Right:</label>
          <input type="text" class="design-slider-text-shadow2-left-value" value="0" readonly="">

          <div class="design-slider-text-shadow2-left ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Left+Right:</label>
          <input type="text" class="design-slider-text-shadow2-top-value" value="0" readonly="">

          <div class="design-slider-text-shadow2-top ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
      <div>
        <div class="meter">
          <label>Left+Right:</label>
          <input type="text" class="design-slider-text-shadow2-size-value" value="0" readonly="">

          <div class="design-slider-text-shadow2-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a
          class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
