<div class="config">
    <div class="configBox">
        <div class="cssedit-headliner"><%= value['name'] %></div>
        <div class="forms">
            <div>
                <input type="text" class="item-name form-control input-sm" />
            </div>
        </div>
    </div>
</div>