html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //background-color: #F9F6EA;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

body {
  position: relative;
}

#contents {
  position: absolute;
  top: 51px;
  left: 0;
  bottom: 0;
  right: 0;
}

div#main {
  padding: 5px 15px 5px 15px;
  height: 100%;
  //background-color: #ebe9dc;
  background-color: #FAFAFA;

  //background-image: image_url('base/back2.jpg');
  //background-repeat: repeat;

  &.fullscreen, &.embed {
    padding: 0;

    .info_wrapper {
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1999999998;
    }
  }
}

div.scroll_background {
  width: 100%;
  height: 100%;
  background-color: #fcf6ff;
}

div.scroll_inside {
  width: 100%;
  height: 100%;
}

div.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: 0 0;
}

div.canvas_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

div.scroll_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
}

div.scroll_handle_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: transparent;
  box-sizing: content-box;
  //&.enable_inertial_scroll {
  //  -webkit-overflow-scrolling: touch;
  //}
}

div.scroll_contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: transparent;
  box-sizing: content-box;
}

div.scroll_inside_wrapper, div.scroll_inside_cover {
  position: absolute;
  top: 0;
  left: 0;
}

div.scroll_background, div.scroll_inside {
  width: 100%;
  height: 100%;
}

div.scroll_inside_cover {
  background-color: transparent;
  z-index: 1;
}

div.css_item_base {
  width: 100%;
  height: 100%;
}

div.guide {
  pointer-events: none;
}

div#guide_top{
  position: absolute;
  top:0;
  height:80px;
  width:100%;

  .guide_container {
    height: 100%;
  }
}
div#guide_bottom{
  position: absolute;
  bottom:0;
  height:80px;
  width:100%;

  .guide_container {
    height: 100%;
  }
}
div#guide_left{
  position: absolute;
  left:0;
  width:80px;
  height:100%;

  .guide_container {
    width: 100%;
    height: 100%;
  }
}
div#guide_right{
  position: absolute;
  right:0;
  width:80px;
  height:100%;

  .guide_container {
    width: 100%;
    height: 100%;
  }
}

.guide-view {
  z-index: 999999999;
  display: none;

  .guide_container {
    position: relative;

    .guide_scroll_pointer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: 50px 50px;
      background-repeat: no-repeat;
      animation-name: scrollpointer_top_blink;
      animation-duration: 3.0s;
      animation-iteration-count: infinite;

      &.top {
        background-image: image_url('run_guide/arrow-up.png');
      }
      &.bottom {
        background-image: image_url('run_guide/arrow-down.png');
      }
      &.left {
        background-image: image_url('run_guide/arrow-left.png');
      }
      &.right {
        background-image: image_url('run_guide/arrow-right.png');
      }
    }
    .guide_scroll_win_container {
      position: relative;
    }
    .guide_scroll_image_mac {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 1;
      background-repeat: no-repeat;
      animation-duration: 3.0s;
      animation-iteration-count: infinite;

      &.forward {
        background-image: image_url('run_guide/scroll_forward.png');
      }
      &.reverse {
        background-image: image_url('run_guide/scroll_reverse.png');
      }

      &.top {
        width: 80px;
        height: 100%;
        animation-name: scrollpointer_top_blink;
      }
      &.bottom {
        width: 80px;
        height: 100%;
        animation-name: scrollpointer_bottom_blink;
      }
      &.left {
        width: 100%;
        height: 80px;
        animation-name: scrollpointer_left_blink;
      }
      &.right {
        width: 100%;
        height: 80px;
        animation-name: scrollpointer_right_blink;
      }

    }
    .guide_scroll_image_win {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      background-image: image_url('run_guide/scroll_win.png');
    }
    .guide_scroll_image_win_background {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
    }
  }
}

.guide_click {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999999999;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;

  &.red {
    background-image: image_url('run_guide/click_red.png');
  }
  &.black {
    background-image: image_url('run_guide/click_black.png');
  }
  &.blue {
    background-image: image_url('run_guide/click_blue.png');
  }
  &.yellow {
    background-image: image_url('run_guide/click_yellow.png');
  }
}

@keyframes scrollpointer_top_blink {
  0% {
    top: 0;
    opacity: 0;
  }
  30% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
}

@keyframes scrollpointer_bottom_blink {
  0% {
    top: 0;
    opacity: 0;
  }
  30% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: -50px;
    opacity: 1;
  }
}

@keyframes scrollpointer_left_blink {
  0% {
    left: 0;
    opacity: 0;
  }
  30% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 50px;
    opacity: 1;
  }
}

@keyframes scrollpointer_right_blink {
  0% {
    left: 0;
    opacity: 0;
  }
  30% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: -50px;
    opacity: 1;
  }
}

div#popup_info_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  padding: 2px;
  display: none;
  border-radius: 10px;
  z-index:1999999999;
  background-color: rgba(0, 0, 0, 0.7);

  .wrapper {
    width: 100%;
    height: 100%;

    .close_wrapper {
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
    }
    .caption {
      color: white;
    }
    .tags {

    }
  }
}

div.popup_creator_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 2px;
  display: none;
  border-radius: 10px;
  z-index:1999999999;
  background-color: rgba(0, 0, 0, 0.7);
}

div.info_contents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 24px;
  div.info_parent {
    margin: 24px;
    div.creator_info_wrapper {
      background-color: transparent;
    }
    .title {
      font-size: 28px;
      display: inline-block;
    }
    .creator {
      font-size: 16px;
      margin-left: 5px;
      display: inline-block;
    }
    .caption {
      font-size: 14px;
    }
    .fork {
      color: darkorange;
      font-size: 14px;
      //display: inline-block;
      display: none;
    }
    .page {
      font-size: 14px;
    }
    .chapter {
      display: inline-block;
    }
    > div {
      color: white;
      margin: 5px;
      padding: 5px;
    }
  }
  > div.operation_parent {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50%;
    height: 20%;
    max-width: 180px;
    max-height: 65px;
    padding: 5px;
  }
}

#modal-overlay{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1999999998;
  background-color: transparent;
}

#common_event_click_overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: transparent;
}

div.contents_info {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0;
  z-index:1999999999;
  width: 100%;
  display: none;

  > div {
    color: white;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
  }

  &.expand {
    height: auto;
  }
  .title {
    font-size: 28px;
    display: inline-block;
  }
  .creator {
    font-size: 16px;
    margin-left: 5px;
    display: inline-block;
  }
  .caption {
    font-size: 14px;
  }
  .page {
    font-size: 14px;
  }
  .chapter {
    font-size: 14px;
    display: inline-block;
  }
  .fork {
    color: darkorange;
    font-size: 14px;
    margin-left: 5px;
    //display: inline-block;
    display: none;
  }
}
div.share_info {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0;
  z-index:1999999999;
  width: 100%;
  display: none;
  > div {
    color: white;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    > div {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    div.label {
      font-size: 14px;
    }
    .link_wrapper {
      input {
        display: block;
        color: black;
        font-size: 12px;
        width: 100%;
      }
    }
    textarea.embed {
      color: black;
      font-size: 12px;
      width: 100%;
    }
  }
}
div.contents_info_show_button {
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index:1999999998;
}
div.contents_share_show_button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index:1999999998;
  > div {
    float: left;
  }
}

#nav {
  .navbar-right {
    .menu-upload-gallery {
      padding: 7px 15px 7px;
      &.disabled {
        opacity: 0.3;
      }
    }
  }
}

#pages {
  .operation_guide_wrapper {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 1999999999;
    display: none;
    .paging_parent {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: none;
      .paging {
        position: absolute;
        top: 0;
        left: 0;
        background-image: image_url('run_guide/paging.png');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
      }
    }
    .rewind_parent {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: none;
      .rewind {
        position: absolute;
        top: 0;
        left: 0;
        background-image: image_url('run_guide/rewind_chapter.png');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
      }
    }
  }
}

#main.fullscreen {
  #pages {
    .operation_guide_wrapper {
      width: 30px !important;
      height: 30px !important;
      .paging_parent {
        .paging {
          width: 30px !important;
          height: 30px !important;
        }
      }
      .rewind_parent {
        .rewind {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
}

div.operation_wrapper {
  border: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  > div {
    width: 100%;
    height: 100%;
    .rewind_capter_wrapper {
      float: left;
      width: 50%;
      height: 100%;
      .rewind_capter {
        background-image: image_url('run/rewind_chapter.png');
        background-repeat: no-repeat;
        background-position: left center;
        width: 50%;
        height: 100%;
        background-size: contain;
        margin: auto;
      }
    }
    .rewind_all_capter_wrapper {
      float: left;
      width: 50%;
      height: 100%;
      .rewind_all_capter {
        background-image: image_url('run/rewind_all_chapter.png');
        background-repeat: no-repeat;
        background-position: left center;
        width: 50%;
        height: 100%;
        background-size: contain;
        margin: auto;
      }
    }
  }
}
