// 1: Smartphone
// 2: Tablet(Middle)
// 3: Tabler(Large)
$mediaMinWidth1 : 700px;
$mediaMinWidth2 : 992px;
$mediaMinWidth3 : 1200px;
$mediaMaxWidth1 : 699px;
$mediaMaxWidth2 : 991px;
$mediaMaxWidth3 : 1199px;