@charset "utf-8";

* {
  font-family: Arial, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: 'DK_Hangmans_Delight';
  src: font-url('DK_Hangmans_Delight.otf');
}

input.empty:disabled {
  background-color: gray;
}

#screen_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  //background-color: #F9F6EA;
  //overflow: auto;
  overflow: hidden;
}

#project_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#project_contents {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  //background-color: #FAFAFA;
}

#main_temp, .main_temp_ws, .main_temp_run {
  display: none;
}

div#pages {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  div.section {
    background-color: #fcf6ff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

div.border {
  border: 5px solid #e6deca;

  &.fullscreen {
    border: 3px solid #e6deca !important;
  }
}

div.tagcloud ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 0 .3em 1em;
    padding: 0;

    a {
      position: relative;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 1em;
      background-color: #3498db;
      border-radius: 0 3px 3px 0;
      color: #fff;
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s;
    }

    a::before {
      position: absolute;
      top: 0;
      left: -15px;
      content: '';
      width: 0;
      height: 0;
      border-color: transparent #3498db transparent transparent;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      -webkit-transition: .2s;
      transition: .2s;
    }
    a::after {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      margin-top: -3px;
      background-color: #fff;
      border-radius: 100%;
    }

    span {
      display: block;
      max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a:hover {
      background-color: #555;
      color: #fff;
    }
    a:hover::before {
      border-right-color: #555;
    }
  }
}

div.tagcloud.mini ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: .1em 0 0 1em;
    padding: 0;

    a {
      position: relative;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      padding: 0 1em;
      background-color: #3498db;
      border-radius: 0 3px 3px 0;
      color: #fff;
      font-size: 11px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s;
    }

    a::before {
      position: absolute;
      top: 0;
      left: -10px;
      content: '';
      width: 0;
      height: 0;
      border-color: transparent #3498db transparent transparent;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      -webkit-transition: .2s;
      transition: .2s;
    }
    a::after {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      margin-top: -3px;
      background-color: #fff;
      border-radius: 100%;
    }

    span {
      display: block;
      max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a:hover {
      background-color: #555;
      color: #fff;
    }
    a:hover::before {
      border-right-color: #555;
    }
  }
}

div.tagcloud.event_disabled {
  a {
    pointer-events: none;
  }
}

div.pop {
  position: absolute;
  text-align: center;
  width: 90px;
  background: white;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  p {
    margin: 0;
  }
}

.circle {
  width: 40px;
  height: 40px;
  background: #FAFAFA;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  &.sp {
    width: 50px !important;
    height: 50px !important;
  }
}

div.item_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  > div.item_contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Blankページ
#deleted_page {
  width: 100%;
  height: 100%;
  position: relative;
  .deleted_wrapper {
    width: 258px;
    height: 50%;
    text-align: center;
    .icon_wrapper {
      width: 100%;
      text-align: center;
    }
    .message_wrapper {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      .message {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .link {
      width: 100%;
    }
  }
}

// クリックイベント等を妨害させない
div.item_wrapper {
  pointer-events: none;
  * {
    pointer-events: none;
  }
}

.scroll_x_content {
  overflow-x: scroll;
}

.scroll_y_content {
  overflow-y: scroll;
}

.drop-shadow {
  position:relative;
  padding:1em;
  margin:2em 10px 1em;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.drop-shadow p {
  font-size:16px;
  font-weight:bold;
}

.lifted {
  -moz-border-radius:4px;
  border-radius:4px;
}

.lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
}

.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}

.image_button {
  padding: 0;
  border: none;
  background: none;
}

.position_relative_parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.put_center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

// リサイズのHandlerをもっと前面にする
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999 !important;
  display: block;
}

.button-panel {
  width: 100%;
}

.button-panel.submit .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  //text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button-panel.other .button {
  background: #3937e1;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  //text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 258px;
  margin: auto;
}

.button_red {
  background: #e62e4d;
  background-image: -webkit-linear-gradient(top, #e62e4d, #c91414);
  background-image: -moz-linear-gradient(top, #e62e4d, #c91414);
  background-image: -ms-linear-gradient(top, #e62e4d, #c91414);
  background-image: -o-linear-gradient(top, #e62e4d, #c91414);
  background-image: linear-gradient(to bottom, #e62e4d, #c91414);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border: solid #e62e4d 1px;
  &.width90per {
    width: 90%;
  }
}

.button_green {
  background: #088A08;
  background-image: -webkit-linear-gradient(top, #088A08, #0B610B);
  background-image: -moz-linear-gradient(top, #088A08, #0B610B);
  background-image: -ms-linear-gradient(top, #088A08, #0B610B);
  background-image: -o-linear-gradient(top, #088A08, #0B610B);
  background-image: linear-gradient(to bottom, #088A08, #0B610B);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border: solid #088A08 1px;
  &.width90per {
    width: 90%;
  }
}

.button_blue {
  background: #3937e1;
  background-image: -webkit-linear-gradient(top, #3937e1, #1115c2);
  background-image: -moz-linear-gradient(top, #3937e1, #1115c2);
  background-image: -ms-linear-gradient(top, #3937e1, #1115c2);
  background-image: -o-linear-gradient(top, #3937e1, #1115c2);
  background-image: linear-gradient(to bottom, #3937e1, #1115c2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border: solid #3937e1 1px;
  &.width90per {
    width: 90%;
  }
}

.button_black {
  background: #666061;
  background-image: -webkit-linear-gradient(top, #666061, #7a7373);
  background-image: -moz-linear-gradient(top, #666061, #7a7373);
  background-image: -ms-linear-gradient(top, #666061, #7a7373);
  background-image: -o-linear-gradient(top, #666061, #7a7373);
  background-image: linear-gradient(to bottom, #666061, #7a7373);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border: solid #666061 1px;
  .width90per {
    width: 90%;
  }
}

//.button:hover {
//  background: #ee3e52;
//}
