@charset "utf-8";

a {
  cursor: pointer;
}

#main_temp {
  display: none
}

div#pages {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  div.section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
