@charset "utf-8";

* {
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

a {
  cursor: pointer;
}

#screen_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F9F6EA;
  overflow: auto;
}

#project_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#main_temp {
  display: none
}

div#pages {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  div.section {
    background-color: #FAFAFA;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

div.tagcloud ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 0 .3em 1em;
    padding: 0;

    a {
      position: relative;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 1em;
      background-color: #3498db;
      border-radius: 0 3px 3px 0;
      color: #fff;
      font-size: 13px;
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s;
    }

    a::before {
      position: absolute;
      top: 0;
      left: -15px;
      content: '';
      width: 0;
      height: 0;
      border-color: transparent #3498db transparent transparent;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      -webkit-transition: .2s;
      transition: .2s;
    }
    a::after {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      margin-top: -3px;
      background-color: #fff;
      border-radius: 100%;
    }

    span {
      display: block;
      max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a:hover {
      background-color: #555;
      color: #fff;
    }
    a:hover::before {
      border-right-color: #555;
    }
  }
}

div.pop {
  position: absolute;
  text-align: center;
  width: 90px;
  background: white;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  p {
    margin: 0;
  }
}

div.float_view_temp {
  display: none;
}

div.float_view {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}