.float_view {
  //display: none;
  //position: fixed;
  //bottom: 0;
  //right: 0;
  z-index: 1999999999;
  //-webkit-border-radius: 8px;
  //-moz-border-radius: 8px;
  //border-radius: 8px;
  background-color: rgba(33, 33, 33, 0.2);
  height: 58px;
  border-radius: 5px;

  &.preview {
    .icon {
      background-image: image_url('float_view/floatview_preview64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #3F51B5;
    }
  }
  &.info {
    .icon {
      background-image: image_url('float_view/floatview_info64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #3F51B5;
    }
  }
  &.display_position {
    .icon {
      background-image: image_url('float_view/floatview_position64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #3F51B5;
    }
  }
  &.apply {
    .icon {
      background-image: image_url('float_view/floatview_apply64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #4CAF50;
    }
  }
  &.error {
    .icon {
      background-image: image_url('float_view/floatview_error64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #E91E63;
    }
  }
  &.warn {
    .icon {
      background-image: image_url('float_view/floatview_warn64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #FFEB3B;
    }
  }
  &.pointing_click {
    .icon {
      background-image: image_url('float_view/floatview_touch64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #FF9800;
    }
  }
  &.pointing_drag {
    .icon {
      background-image: image_url('float_view/floatview_drag64.png');
      background-repeat: no-repeat;
    }
    .message {
      color: #FF9800;
    }
  }

  .wrapper {
    height:50px;
    margin: 4px;
    .icon_wrapper {
      float: left;
      width: 50px;
      height: 100%;
      margin-right: -50px;
      .icon {
        width: 50px;
        height: 50px;
        padding: 3px;
        background-size: contain;
      }
    }
    .contents_wrapper {
      width: 100%;
      height: 100%;
      float: left;
      > div {
        height: 100%;
        margin-left: 50px;
      }
      .message_wrapper {
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        .message {
          height: 100%;
          line-height: 50px;
          vertical-align: middle;
          font-size: 24px;
        }
      }
    }
  }

  &.fixed {
    .icon_wrapper {
      float: left;
      width: 50px;
      margin-right: -50px;
      height: 100%;
    }
    .contents_wrapper {
      width: 100%;
      height: 100%;
      float: left;
      > div {
        margin-left: 50px;
        margin-right: 40px;
        height: 100%;
      }
    }
    .close_button_wrapper {
      float: right;
      height: 100%;
      width: 40px;
      margin-left: -40px;
      .close_button {
        width: 100%;
        height: 100%;
        background-image: image_url('float_view/floatview_exit32.png');
        background-repeat: no-repeat;
      }
    }
  }
}