.social {
  line-height: 0.8;
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;

  .button {
    float: left;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 4px;

    &.facebook {
      margin-right: 17px;
    }

    &.twitter {
      width: 70px;
    }

    &.pocket {
      width: 90px;
    }

    &.google {
      width: 70px;
      margin-right: 0;
    }

    &.hatena {
      margin-right: 17px;
    }
  }
}