html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div#wrap {
  position: relative;
  #width: 100%;
  min-height: 100%;
  padding: 5px 15px 5px 15px;
}

div#wrap_contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 80px;
  background-color: #FAFAFA;
  border: 5px solid #e6deca;
}

div#scroll_contents {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  #background-color: #000000;
}

div#inside {
  width: 100%;
}

div#footer{
  position: fixed !important;
  bottom:0;
  height:80px;
  width:100%;
}
div#scrollpoint_container {
  position: absolute;
  left: 50%;
  width: 70px;
  height: 75px;
  margin-left: -35px;
}
.scrollpoint {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: image-url('base/scroll_point.png');
  background-size: 70px 75px;
  width: 100%;
  height: 100%;
  opacity: 1;

  -webkit-animation-name: scrollpoint_blink;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes scrollpoint_blink {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}