<div id="event-config" class="sidebar-config" style="display: none">

    <!-- イベント作成毎にテンプレートからDivを作成しここに追加 -->

    <!-- 作成するDivのテンプレート -->
    <div class="event_temp">
        <%= render 'worktable/sidebar_menu/event/temp' %>
    </div>

</div>