<div class="modal-content <%= Const::ModalViewType::MESSAGE %>">
  <div class="content">
    <div class="background_wrapper">
      <div class="background put_center"></div>
    </div>
    <div class="message_wrapper">
      <div class="loading_message put_center">
      </div>
    </div>
  </div>
</div>
