div#main_wrapper {
  width: 100%;
  height: 100%;
  &:after {
    display: table;
    content: '';
    clear: both;
    line-height: 0;
  }
}

div#user_wrapper {
  width: 150px;
  height: 100%;
  float: left;
  margin-top: 51px;
  background-color: #aa3f39;

  .user_icon {
    margin-top: 15px;

    > div {
      background-color: white;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;;
    }
  }
}

div#contents_wrapper {
  width: auto;
  height: 100%;
  margin-left: 150px;
  margin-right: 70px;
  > div.wrapper {
    width: 100%;
    height: 100%;
  }
  div.tabview_wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  div.tab-content {
    background-color: white;
  }
  
  ul.nav-tabs {
    height: 41px;
    border-bottom: none;
  }
}

div#myTabContent {
  height: 100%;
  // レイアウトが崩れるためコメントアウト
  //margin-top: -7px;
}
div.tab-pane {
  width: 100%;
  height: 100%;
  > div {
    width: 100%;
    height: 100%;
  }
}

body.bookmarks {
  #myTabContent {
    div.contents_row {
      width: 100%;
      > div.contents_top {
        width: 100%;
        height: 100px;
        > div.contents_left {
          float: left;
          div.thumbnail {
            width: 100px;
            height: 100px;
          }
        }
        > div.contents_right {
          float: right;
          > div.contents_top {
            width: 100%;
            height: 70px;
            div.title {
              width: 70%;
              height: 100%;
            }
            div.user {
              width: 30%;
              height: 100%;
            }
          }
          > div.contents_bottom {
            width: 100%;
            height: 30px;
            div.tags {
              width: 100%;
              div.tag_name {

              }
            }
          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.contents_bottom {
        width: 100%;
        div.caption {

        }
      }
    }
  }
}

body.created_contents {
  #myTabContent {
    div.contents_row {
      > div.contents_top {
        > div.contents_left {
          div.thumbnail {

          }
        }
        > div.contents_right {
          > div.contents_top {
            div.title {

            }
            div.user {

            }
          }
          > div.contents_bottom {
            div.tags {
              div.tag_name {

              }
            }
          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.contents_bottom {
        div.caption {

        }
      }
    }
  }
}

body.created_items {
  #myTabContent {
    div.contents_row {
      > div.contents_top {
        > div.contents_left {
          float: left;
          > div.contents_top {
            > div.contents_left {
              float: left;
              > div.title {

              }
              > div.user {

              }
            }
            &:after {
              display: table;
              content: '';
              clear: both;
              line-height: 0;
            }
          }
          > div.contents_bottom {
            > div.tags {
              div.tag_name {

              }
            }
          }
        }
        > div.contents_right {
          float: right;
          div.using_user {

          }
        }
        &:after {
          display: table;
          content: ' ';
          clear: both;
          line-height: 0;
        }
      }
      > div.contents_bottom {
        div.caption {

        }
      }
    }
  }
}

body.using_items {
  #myTabContent {
    div.contents_row {
      > div.contents_top {
        > div.contents_left {
          float: left;
          > div.contents_top {
            > div.contents_left {
              float: left;
              > div.title {

              }
              > div.user {

              }
            }
            &:after {
              display: table;
              content: '';
              clear: both;
              line-height: 0;
            }
          }
          > div.contents_top {
            > div.tags {
              div.tag_name {

              }
            }
          }
        }
        > div.contents_right {
          div.remove_button {

          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.contents_bottom {
        div.caption {

        }
      }
    }
  }
}
