body.bookmarks {
  #myTabContent {
    div.row {
      width: 100%;
      > div.top {
        width: 100%;
        height: 100px;
        > div.left {
          float: left;
          div.thumbnail {
            width: 100px;
            height: 100px;
          }
        }
        > div.right {
          float: right;
          > div.top {
            width: 100%;
            height: 70px;
            div.title {
              width: 70%;
              height: 100%;
            }
            div.user {
              width: 30%;
              height: 100%;
            }
          }
          > div.bottom {
            width: 100%;
            height: 30px;
            div.tags {
              width: 100%;
              div.tag_name {

              }
            }
          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.bottom {
        width: 100%;
        div.caption {

        }
      }
    }
  }
}

body.created_contents {
  #myTabContent {
    div.row {
      > div.top {
        > div.left {
          div.thumbnail {

          }
        }
        > div.right {
          > div.top {
            div.title {

            }
            div.user {

            }
          }
          > div.bottom {
            div.tags {
              div.tag_name {

              }
            }
          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.bottom {
        div.caption {

        }
      }
    }
  }
}


body.created_items {
  #myTabContent {
    div.row {
      > div.top {
        > div.left {
          > div.top {
            > div.left {
              > div.title {

              }
              > div.user {

              }
            }
            &:after {
              display: table;
              content: '';
              clear: both;
              line-height: 0;
            }
          }
          > div.bottom {
            > div.tags {
              div.tag_name {

              }
            }
          }
        }
        > div.right {
          div.using_user {

          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.bottom {
        div.caption {

        }
      }
    }
  }
}

body.using_items {
  #myTabContent {
    div.row {
      > div.top {
        > div.left {
          > div.top {
            > div.left {
              > div.title {

              }
              > div.user {

              }
            }
            &:after {
              display: table;
              content: '';
              clear: both;
              line-height: 0;
            }
          }
          > div.bottom {
            > div.tags {
              div.tag_name {

              }
            }
          }
        }
        > div.right {
          div.remove_button {

          }
        }
        &:after {
          display: table;
          content: '';
          clear: both;
          line-height: 0;
        }
      }
      > div.bottom {
        div.caption {

        }
      }
    }
  }
}
