<!-- PI_ScreenEvent テンプレート -->
<div>
  <div>
    <div style="display: inline-block">Select:</div>
    <div style="display: inline-block">
      <a class="event_pointing">
        <%= image_tag 'sidebar/event_pointing24.png', size: '24x24' %>
      </a>
    </div>
    <div>
        <div style="float: left">X:</div>
        <div style="float: left"><input type="number" class="afterX" disabled></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Y:</div>
        <div style="float: left"><input type="number" class="afterY" disabled></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Zoom:</div>
        <div style="float: left"><input type="number" class="afterZ" disabled></div>
        <br style="clear: both">
    </div>
  </div>
</div>
