<!-- PI_ScreenEvent テンプレート -->
<div>
  <div>
    <div>
      <div style="float: left">X:</div>
      <div style="float: left"><input type="number" class="beforeX fixed_value" disabled></div>
      <br style="clear: both">
    </div>
    <div>
      <div style="float: left">Y:</div>
      <div style="float: left"><input type="number" class="beforeY fixed_value" disabled></div>
      <br style="clear: both">
    </div>
    <div>
      <div style="float: left">Zoom:</div>
      <div style="float: left"><input type="number" class="beforeZ fixed_value" disabled></div>
      <br style="clear: both">
    </div>
  </div>

  <div>
    <div>
        <div style="float: left">X:</div>
        <div style="float: left"><input type="number" class="afterX"></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Y:</div>
        <div style="float: left"><input type="number" class="afterY"></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Zoom:</div>
        <div style="float: left"><input type="number" class="afterZ"></div>
        <br style="clear: both">
    </div>
  </div>
</div>
