<!-- PI_ScreenEvent テンプレート -->
<div>
  <div>
    <div>
      <div style="float: left">X:</div>
      <div style="float: left"><input type="number" class="beforeX fixed_value" disabled></div>
      <br style="clear: both">
    </div>
    <div>
      <div style="float: left">Y:</div>
      <div style="float: left"><input type="number" class="beforeY fixed_value" disabled></div>
      <br style="clear: both">
    </div>
    <div>
      <div style="float: left">Zoom:</div>
      <div style="float: left"><input type="number" class="beforeZ fixed_value" disabled></div>
      <br style="clear: both">
    </div>
  </div>

  <div style="width:100%;margin-top:5px;margin-bottom:5px;text-align: center">
    <%= image_tag 'sidebar/down32.png', size: '32x32' %>
  </div>

  <div>
    <div>
        <div style="float: left">X:</div>
        <div style="float: left"><input type="number" class="afterX" disabled></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Y:</div>
        <div style="float: left"><input type="number" class="afterY" disabled></div>
        <br style="clear: both">
    </div>
    <div>
        <div style="float: left">Zoom:</div>
        <div style="float: left"><input type="number" class="afterZ" disabled></div>
        <br style="clear: both">
    </div>
  </div>
</div>
