<!-- PI_ScreenEvent テンプレート -->
<div>
  <div>
    <div style="display: inline-block">Select:</div>
    <div style="display: inline-block">
      <a class="event_pointing">
        <%= image_tag 'sidebar/event_pointing_drag32.png', size: '24x24' %>
      </a>
      <a class="clear_pointing" onclick="StateConfig.clearScreenConfig(true)">
        <%= image_tag 'sidebar/clear32.png', size: '24x24' %>
      </a>
    </div>
    <input type="hidden" class="afterX" disabled>
    <input type="hidden" class="afterY" disabled>
    <input type="hidden" class="afterZ" disabled>
  </div>
</div>
