<div class="operation_guide_wrapper">
  <div class="operation_guide paging_parent">
    <div class="paging">
    </div>
  </div>
  <div class="operation_guide rewind_parent">
    <div class="rewind">
    </div>
  </div>
</div>