@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote {
  margin: 0;
  padding: 0;
  display: block;
}

html, body {
  height: 100%;
  background-color: #F9F6EA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
}
