<div id="sidebar" class="col-xs-3">
  <div id="sidebar_container">
    <div id="sidebar-wrapper" style="overflow: auto">
      <div id="<%= Const::ElementAttribute::SIDEBAR_TAB_ROOT %>" class="sidebar-config">
        <div id="run_btn_wrapper" style="display: block">
          <a>
            <div class="run_btn">
              Run
            </div>
          </a>
        </div>
        <div id="stop_btn_wrapper" style="display: none">
          <a>
            <div class="stop_btn">
              Stop
            </div>
          </a>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Design</a></li>
          <li><a href="#tab2" data-toggle="tab">Event</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="tab1" >
            <div class="scroll_y_content">
              <p>
                <%= render 'sidebar_menu/design/design', show_sidebar: true %>
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2">
            <div class="scroll_y_content">
              <p>
                <%= render 'item_preview/sidebar_menu/event/event', show_sidebar: true %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>